<div id="cbg1" class="checkbox-group">
	<h4>Selling System Channels</h4>

	<div ng-click="$ctrl.updateAllChannelCheckBoxValues()" role="checkbox" class="select-all" aria-checked="false" tabindex="0" id="cond0">
		<label>All</label>
	</div>
	<div ng-repeat="channel in $ctrl.data.channelsWithCheckedFields" ng-click="$ctrl.updateSingleChannelCheckBoxValue(channel)" role="checkbox" aria-checked="false" tabindex="-1" id="cond{{$index + 1}}" class="channel__select__channels">
		<label>{{channel.name}}</label>
	</div>
	<div>Select the Selling System Channel(s) where this discount will be made available</div>
</div>
