<form class="admin__promotion__form" name="promoForm" ng-cloak>
	<fieldset ng-disabled="isDisabled">
		<section class="admin__promotion__section" ng-show="index == 0 || preview">
		
			<div class="md-text-field">
				<label for="name">
					Discount Name {{isDisabled}}
				</label>
				<input type="text" id="name" name="name" ng-model="data.name" title="Discount Name" placeholder="Enter 254 characters or fewer" ng-trim="false" ng-maxlength="254" ng-required="preview" ng-disabled="preview" replace-special-characters />
				<span class='error-message' ng-show="promoForm.name.$invalid">
					<span ng-show="promoForm.name.$error.required">
						Please enter a valid promotion name
					</span>
					<span ng-show="promoForm.name.$error.maxlength">
						Please enter a valid discount name less than or equal to 254 characters
					</span>
				</span>
			</div>
				
			<div class="md-select md-select-space" ng-show="viewProp.displayDiscountType">
				<label for="promotype">
					Discount Type
				</label>
				<select name="promotype" ng-options="promotype as promotype.promoSubTypeDesc for promotype in promotionSubTypes" ng-model="promoSubTypeObject" ng-change="getSelectedSubTypes(); resetRewardsOnPromoTypeChange(); validatePromotion()" ng-required="viewProp.displayDiscountType && preview" ng-disabled="preview">
					<option value="">
						-- Select a discount type --
					</option>
				</select>
				<span class='error-message' ng-show=" promoForm.promotype.$invalid">
					<span ng-show="promoForm.promotype.$error.required">
						Please select a valid discount type
					</span>
				</span>
			</div>

			<div class="md-select md-select-space" ng-show="viewProp.displayRedemptionMethod">
				<label for="method">
					Redemption Method
				</label>
				<select ng-options="method.value as method.label for method in redemptionMethodTypes" ng-model="data.promoCdRqrd" ng-disabled="preview">
					<option value="">
						-- Select a redemption method --
					</option>
				</select>
			</div> 
			<promotion-code-specification ng-if="data.promoCdRqrd" test ="{{data.couponId}}" couponId="data.couponId" preview="preview" ng-disabled="preview" data="data.promoCdSpec" require="data.promoCdRqrd" promoform='promoForm'></promotion-code-specification>
			<div class="md-text-field" ng-show="viewProp.displayCombinationPromo">
				<label for="promocombo">
					Combination with other discounts
				</label>
				<input type="text" name="promocombo" ng-model="data.promocombo" title="Promotion Combinations" placeholder="Combine with other promotions" disabled />
			</div>
			<div class="md-text-field"  >	
				<!--<div class="md-text-field" ng-show="viewProp.displayPriority">	-->

				<label for="priority">
					Priority
				</label>
			    <tool-tipper tooltiptitle="Priority">
			        <p>
			        	Assign a priority by entering a number between zero and one thousand. Zero is the lowest priority and one thousand is the highest priority. When multiple discounts are qualified for the same purchase condition, the one with the highest priority will be applied first.
			        </p>
			    </tool-tipper>
				<input type="number" name="priority" ng-model="data.priority" title="Priority" placeholder="Enter number between 0 and 1000" ng-required="preview" ng-disabled="preview" 
				allow-pattern="(\d)" ng-blur = "validatePromotion()">
				<!--<input type="number" name="priority" ng-model="data.priority" min="0" max="1000" title="Priority" placeholder="Enter number between 0 and 1000" ng-required="preview" allow-pattern="(\d)" />-->
				<span class='error-message' ng-show="promoForm.priority.$invalid">
					<span ng-show="promoForm.priority.$error.required">
						Please enter a valid promotion priority (should be numeric)
					</span>
				</span>
				
				<span class='error-message' ng-show="validationErrors.priorityRange.isError">{{validationErrors.priorityRange.message}}</span>

			</div>

			<!-- <CHANNEL SELECT PLACEHOLDER -->	
			<channel-select ng-if="!preview && data.channelToggle" view-prop="viewProp" data="data"></channel-select>

			<!-- <CHANNEL SELECT PLACEHOLDER -->	
		</section>
		<section class="admin__promotion__section" ng-show="index == 1 || preview">
			<purchase-condition-rewards preview="preview" data="data" view-prop="viewProp" promoform="promoForm" validation-errors="validationErrors" is-disabled="isDisabled">
			</purchase-condition-rewards>
		</section>
		<section class="admin__promotion__section" ng-show="viewProp.displayLocations && (index == 2 || preview)">
				<promo-location locations="data.purchaseConds.locations" markets="data.purchaseConds.markets"  preview="preview" promoform="promoForm">
				</promo-location>
		</section>
		<section class="admin__promotion__section" ng-show="index == 3 || preview">
				<purchase-condition data="data" preview="preview" qualuom = "data.purchaseConds.qualUOM" promoform="promoForm" validation-errors="validationErrors" purchase-condition="data.purchaseConds" is-disabled="isDisabled" promotype="data.promoSubTypeCd">
				</purchase-condition>
		</section>
		<section class="admin__promotion__section" ng-show="viewProp.displayPromoDescription && (index == 4 || preview)">
				<promo-description data="data" preview="preview">
				</promo-description>
		</section>
		<section class="admin__promotion__section" ng-show="viewProp.displayRedemptionLimits && (index == 5 || preview)">
				<redemption-limit data="data.redmptnLmt" promoform="promoForm" preview="preview">
				</redemption-limit>
		</section>


		<section class ="admin__promotion__section" ng-show="viewProp.displayPrintLabel && (index == 6 || preview)">
			<promo-labels data ="data" preview="preview" validation-errors="validationErrors" promoform="promoForm">
			</promo-labels>
		</section>

		<section class="admin__promotion__section" ng-show="index == 7 || preview">
				<promo-schedule data="data" preview="preview" promoform="promoForm" form-holder="formHolder" validation-errors="validationErrors" view-prop="viewProp">

				</promo-schedule>
		</section>
	</fieldset>
</form>
