<div class="md-dialog-content" id="single-sku-bulk-modal">
    <h4>Are you sure you want to redeem through Single Sku Bulk?</h4>
    <br/>
    <p>Selecting Redeem through Single Sku Bulk might cause you to lose any qualifier, location, reward and label information created so far.</p>
    <br/>
    <div id="div-button-align-right">
        <a href="" class="md-button secondary " ng-click="$ctrl.closeModal()" >
            Cancel
        </a>
        <a href="" class="md-button primary " ng-click="$ctrl.singleSkuBulkSelected()">
            Accept
        </a>
    </div>
</div>