<div class="admin__header__content">
	<a ng-href="#/discount-dashboard" name="backToDiscountList" id="backToDiscountList">Back to Discounts List</a>
</div>
<div class="admin__header__content admin__header__content--bottom" ng-show="($ctrl.uistate != 'Compare')">
	<h1 class="md-display-2">{{$ctrl.uistate}} Discount 
		<span ng-show="$ctrl.promotype.name"> : {{$ctrl.promotype.name}}</span>
		<br>
		<span ng-show="$ctrl.promotype.promoSubTypeDesc"> Type: {{$ctrl.promotype.promoSubTypeDesc}}</span>
	</h1>
	<p>All fields are required except where indicated otherwise.</p>
</div>
<div  ng-show="$ctrl.isEndDtWithinLeadTime">
	<info-banner>
	</info-banner>
</div>
<div class="admin__header__content admin__header__content--bottom" ng-show="($ctrl.uistate == 'Compare')">
	<h1 class="md-display-2">
		Compare View
	</h1>
	
</div>