<div class="admin" flex="100" id="promoTop">
	<div layout="row">
		<div flex="100">
			<!-- Admin Header compontent -->
			<admin-header class="admin__header" promotype="promotionData" qa-page-type="{{UiState}}" uistate="UiState" urls="urls"></admin-header>
		</div>
	</div>
	<form class="admin__promotion__form" name="promoForm">
		<div layout="row" class="admin__main">
			<div class="admin__sidepanel" flex="25">
				<!-- Admin Subnavigation compontent -->
				<admin-subnav data="sections"></admin-subnav>
			</div>
			<div class="admin__content" flex="75">
				<!-- Admin Promotion Form -->
				<admin-promotion-form data="promotionData" view-prop="viewProperties" promo-mfa="promotionSubTypesForMFA" index="sectionInx" form-holder="formHolder" promo-form="promoForm" ng-if="promotionData"></admin-promotion-form>
				<!-- Admin Promotion Form Controls -->
				<admin-promotion-form-controls data="sections" index="sectionInx"></admin-promotion-form-controls>
			</div>
		</div>
		<div layout="row">
			<div flex="100">
				<!-- Admin Footer compontent -->
				<admin-footer ng-if="promotionData" data="promotionData" preview-overlay-config="previewOverlayConfig" previewdata="previewData" class="admin__footer" form-holder="formHolder"  promo-form="promoForm" index="sectionInx"></admin-footer>
			</div>
		</div>
	</form>
</div>

<promotion-preview data="promotionData" ng-if="previewOverlayConfig.isOpen" form-holder="previewFormHolder" preview-overlay-config="previewOverlayConfig" preview-data="previewData" promo-form="promoForm" view-prop="viewProperties"></promotion-preview>
