// Mobile Portrait
@media only screen and (max-width: 419px) {
  .col__1-12, .col__2-12, .col__3-12,
  .col__4-12, .col__5-12, .col__6-12,
  .col__7-12, .col__8-12, .col__9-12,
  .col__10-12, .col__11-12, .col__12-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 420px) {
  .col__1-12, .col__2-12, .col__3-12,
  .col__4-12, .col__5-12, .col__6-12 {
    width: 50%;
  }

  .col__7-12, .col__8-12, .col__9-12,
  .col__10-12, .col__11-12, .col__12-12 {
    width: 100%;
  }
}