/* Radio Buttons */
.radio-btn__label {
  display: flex;
  cursor: pointer;
  position: relative;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
input[type="radio"] + label span.radio-btn {
  width:20px;
  height:20px;
  margin-right: 10px;
  vertical-align:middle;
  cursor:pointer;
  border: 2px solid #333;
  border-radius: 50%;
  box-sizing:border-box;
}
.radio-btn {
  display: inline-block;
  position: relative;
}
.radio-btn:before, .radio-btn:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.radio-btn:before {
  width: 6px;
  height: 6px;
  margin: 7px; /* inital margin - ((intial margin - width (or height))/2) */
}
.radio-btn:after {
  width: 6px;
  height: 6px;
  left: 7px;
  top: 7px;
  background-color: #fff;
}
input[type="radio"]:checked + label span.radio-btn {
  border: 0;
}
input[type="radio"]:checked + label span.radio-btn:before {
  width: 20px;
  height: 20px;
  margin: 0; /*for centering purposes*/
  float: left;
  background: #f96302;
  border-radius: 50%;
  -webkit-transition: width .2s, height .2s, margin .2s;
  -moz-transition: width .2s, height .2s, margin .2s;
  -ms-transition: width .2s, height .2s, margin .2s;
  transition: width .2s, height .2s, margin .2s;
}