.table__search__results {
    list-style: none;
    min-width: 250px;
    display: block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    background: #fff;
    max-height: 200px;
    overflow-y: scroll;
}
.table__search__results__item{
  padding: 1em;
  display: block;
  border-bottom: 1px solid #ddd;
}
.table__search__results__item:hover{
	background-color: #eee;
}