.skyType__table{
    width: 70%;
    margin: 35px 0;
    /*box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);*/
    text-align: left;
    background: #fff;
}
.skyType__table tr, .skyType__table td, .skyType__table th {
    border-right: none;
    border-left: none;
    border-spacing: 0;
    vertical-align: middle;
}
.skyType__table__browse{
    text-align: right;
}
tr.skyType__table__row-notopborder, .skyType__table__row-notopborder td, .skyType__table__row-notopborder th {
    border-top: none
}
tr.skyType__table__row-nobottomborder, .skyType__table__row-nobottomborder td, .skyType__table__row-nobottomborder th {
    border-bottom: none
}