.purchaseCondition__btn{
	margin: 0;
}
.merch__Hierarchy__Table {
	 max-height: 255px;
    overflow-y: auto;
}

.md-space-extra {
  margin:2px 0;
  padding: 95px 1px 1px;
} 

.merchmask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8; }
    
    .merchmask i{
    z-index:2;
    color: #F96302;
    font-size:50px;
    display:inline-block;
    position: fixed;
    top: 353px;
    left: 829px;
    }
.discountLevelToolTip {
    min-width:330px;
}

.discountLevelToolTip tr td:nth-child(1) {
    padding: 3px 20px;
}
.discountLevelToolTip tr td:nth-child(2) {
    padding: 3px 20px 0px;
}
.discountLevelToolTip tr td:nth-child(3) {
    padding: -1px 0px 20px;
}
.discountLevelToolTip td.highlight {
    border: 1px #FFF solid;
}
.discountLevelToolTip td.separator {
    border-bottom: 1px #FFF solid;
}


