.md-select select{
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
  width:100%;
  line-height: 46px;
  font-size: 18px;
  color:#555555;
  padding:0 40px 0 15px;
  padding-right:40px;
  vertical-align: middle;
  background-color:#FFFFFF;
  border:1px solid #DDDDDD;
  border-radius: 2px;
  cursor: pointer;
}
 .md-select-space {
    margin:35px 0;
  }
  .md-select-margin-space {
    margin-top:28px;
  }
.md-select {
  position:relative;
}
.md-select:after {
  content:"\f0d7";
  font-family: 'FontAwesome';
  font-size:20px;
  color: #555555;
  position: absolute;
  right: 15px;
  top: 42px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  box-sizing: border-box;
  vertical-align: middle;
}
.md-select.missed:after {
  color:#ED1C24;
}
.md-select.missed select {
  border:1px solid #ED1C24;
  background-color:#FEF4F4;
  color:#ED1C24;
}
.md-select select:disabled {
  background-color:#F5F5F5;
  border:1px solid #F5F5F5;
  color:#999999;
  cursor: not-allowed;
}

.md-select-alt select{
  line-height: 30px;
}
.md-select-alt:after {
  top: 5px;
}
multiselect {
  display:block;
}
multiselect .btn {
  width: 100%;
  background-color: #FFF;
}
multiselect .btn.error{
  border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
multiselect .dropdown-menu {
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
}
multiselect .dropdown-menu > li > a {
  padding: 3px 10px;
  cursor:pointer;
}
.container {
  max-width: 200px;
  position: relative;
  display: inline-block;
  padding-bottom: 1.125em;
}

.setter {
  display: inline-block;
}

.wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  
  position: absolute;
  left: 0;
  right: 0;
}
.ms-dropdown {
  min-width: 250px;
  width: 100%;
}
.ms-dropdown input {
  width: 100%;
  vertical-align:text-top;
  border:solid 1px #DDDDDD;
  background-color:#EEEEEE;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color:#555555;
  padding:0 15px;
  line-height: 46px;
  position: relative;
}
.ms-dropdown input:focus {
  background-color:#FFFFFF;
  outline:none;
}
.ms-dropdown input.error {
  color: red;
  margin-top: 1px;
}
.ms-dropdown i {
  right: 25px;
  top: 15px;
  font-size: 20px;
  position: relative;
}

.ms-dropdown .md-button {
  vertical-align:text-top;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  line-height: 46px;
  margin-left:-5px;
}

.ms-dropdown ul {
  list-style: none;
  min-width: 250px;
  display: block;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  background: #fff;
  max-height: 200px;
  overflow-y: scroll;
}
.ms-dropdown ul li{
  padding: 0 1em;
  display: block;
  border-bottom: 1px solid #ddd;
}
.ms-dropdown ul li:hover{
  background-color: #eee;
}

.ms-dropdown span {
  position: relative;
}

.ms-dropdown span i.fa-caret-down {
  color: #666;
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 1;
}