.sku-type-modal{
    width: 300px
}
.close-sku-type-modal{
	position: absolute;
	top: 0;
	right: 10px;	
	font-size: 28px;
	color: #F96302;
	cursor: pointer;
}
.filter_sku_types_link{
    float: right;
}