/* Table Styles */
table.table{
    width: 100%;
}
table.table, .table tr, .table td, .table th {
    border: solid 1px #eee;    
    border-spacing: 0;
    vertical-align: middle;
}

.table th {
    font-size: 14px;
    font-weight: bold;
}
.table th, .table td {
    padding: 1em;
}
.table.noborder {
    border-spacing: none;
    border: none;
}
.odd {
    background-color: #fbfbfb;
}
.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
	content: '\25bc';
}
.sortOption{
	text-decoration: none;
    color: #000;
}
.editOption{
	text-decoration: none;
}
.table td:nth-child(1), .table th:nth-child(1) {
    border-left: none;
}
.table td:last-of-type, .table th:last-of-type {
    border-right: none;
}
.table__search{
    width: 50%;
}