.md-textarea {
    box-sizing: border-box;
    position:relative;
    margin:35px 0;
  }
.md-textarea:first-of-type {
    margin-top:25px;
  }
.md-textarea:last-of-type {
    margin-bottom:0;
  }
.md-textarea textarea{
    outline: none;
    position:relative;
    border:1px solid #DDDDDD;
    background:#FFFFFF;
    border-radius:2px;
    padding:10px;
    font-size: 18px;
    color:#222222;
    min-width: 100%;
    box-sizing: border-box;
  }
.md-textarea textarea + label {
    display:block;
    position:absolute;
    font-size: 16px;
    color:#555555;
    top:-25;
  }
.md-textarea textarea:focus {
    border:1px solid #00AF4D;
  }
.md-textarea textarea:focus + label {
    color:#00AF4D;
  }
.md-textarea textarea.missed {
    border:1px solid #ED1C24;
    background:#FEF4F4;
  }
.md-textarea textarea.missed + label {
    color:#ED1C24;
  }
.md-textarea textarea:disabled {
    background:#F5F5F5;
    color:#999999;
    border:none;
    cursor: not-allowed;
  }
.md-textarea textarea:disabled + label {
    color:#999999;
    cursor: not-allowed;
  }