<span class="infobanner"> 
	<span class="tooltiphead">
			<!--<i class="tooltipicon fa fa-info-circle" aria-label="{{tooltiptitle}}"></i>-->
			<!--<i class="tooltipicon fa fa-info-circle" aria-label="{{tooltiptitle}}"></i>-->
	</span>
		<span ng-show="true" class="infobannerbody">
		<div class="infobannerpoint">
			
		</div>
		<div class="infobannercontent">
			<div class="infobannermessage">
				<span class="infobannertitle">View Only</span>
				<p>
					
				 This discount is ending in {{$ctrl.leadTime}} days or less and cannot be edited. Any changes made to this discount will not be saved
				</p>
			</div>
		</div>
    </span>
</span>