<div layout="row">
    <div flex="100">
        <div class="c login__panel__alert login__panel__alert-danger" ng-switch="showError" ng-show="showError">
            <div ng-switch-when='invaliduser'>
                Please provide a valid user name and password.
            </div>
            <div ng-switch-when='unauthorized'>
                Please contact the applications owner to use this resource.
            </div>
            <div ng-switch-when='invalidsession'>
                Session invalid , Please provide a valid user name and password.
            </div>
        </div>
        <!-- Main component Start  -->
    </div>
</div>
<div layout="row">
    <div flex="100">
        <div class="login__panel" flex="50">
            <div class="login__panel__heading">
                <h3 class="login__panel__title">Login</h3>
            </div>
            <div class="login__panel__body">
                <p class="alert alert-warning">You have received this page because the link/application you tried to access is password protected. Please supply
                    a user id and password below. After successful sign-in, you will be directed to the page/link/application
                    you originally requested.</p>



                
                <div flex="50" class="login__panel__form">
                    <form>
                        <div class="md-text-field">
                            <label for="j_username">
                                User ID
                            </label>
                            <input type="text" name="name" ng-model="name" title="Name" id="j_username" placeholder="User ID" ng-keypress="($event.keyCode === 13) && submit()"/>
                        </div>

                        <div class="md-text-field">
                            <label for="j_password">
                                Password
                            </label>
                            <input type="password" name="password" ng-model="password" title="Password" id="j_password" placeholder="Password" ng-keypress="($event.keyCode === 13) && submit()"/>
                        </div>
                        <a href="#" type="submit" class="md-button login__panel__form__submit" id="loginSubmit" ng-click="submit()" flex="100">Sign In</a>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>