<div layout="row">
    <div flex="50">
        <div class="md-text-field" flex="80">
            <label for="promoname">Start Date</label>
            <input class="" type="date" ng-model="startDt" placeholder="yyyy-MM-dd" name="start" min="2013-01-01" max="2222-12-31" ng-required="preview"
            ng-blur="convertToString()" />
            <span class='error-message' ng-show="promoform.start.$invalid">
              <span ng-show="promoform.start.$error.required">Please enter a valid start date</span>
            </span>

        </div>
    </div>
    <div flex="50">
        <div class="md-text-field md-text-field-border" flex="80">
            <label for="promomaxredem">Start Time (EST)</label>
            <input type="text" id="starttime" name="starttime" ng-model="starttime" disabled/>
        </div>
    </div>
</div>
<div layout="row">
    <div flex="50">
        <div class="md-text-field" flex="80">
            <label for="promoname">End Date</label>

            <input class="" type="date" ng-model="endDt" placeholder="yyyy-MM-dd" name="end" ng-min="startDt" max="2222-12-31" ng-required="preview"
            ng-blur="convertToString()" />
            <span class='error-message' ng-show="promoform.end.$invalid">
             <span ng-show="promoform.end.$error.required">Please enter a valid end date</span>
            <span ng-show="promoform.end.$error.min">Please enter a valid end date.End date must be larger than start date.</span>

            </span>
            

        </div>
    </div>
    <div flex="50">
        <div class="md-text-field md-text-field-border" flex="80">
            <label for="promomaxredem">End Time (EST)</label>
            <input type="text" id="andtime" name="endtime" ng-model="endtime" disabled/>
        </div>
    </div>
</div>