<div layout="row">
    <div flex="50">
        <div class="md-text-field" flex="80">
            <label for="promoname">Start Date</label>
            <input class="" type="date" ng-model="$ctrl.data.startDtFmt" placeholder="yyyy-MM-dd" name="start" min="{{$ctrl.startDateLimit}}" max="9999-12-31" ng-required="$ctrl.preview"
            ng-blur="$ctrl.validatePromotion()" />
            <span class='error-message' ng-show="promoform.start.$invalid">-->
            <span ng-show="promoform.start.$error.required">Please enter a valid start date</span>
            </span>
            <span class='error-message' ng-show="$ctrl.validationErrors.startDt.isError">{{$ctrl.validationErrors.startDt.message}}</span>

        </div>
    </div>
    <div flex="50" ng-show="$ctrl.viewProp.displayScheduleTime">
        <div class="md-text-field md-text-field-border" flex="80">
            <label for="promomaxredem">Start Time (EST)</label>
            <input type="text" id="starttime" name="starttime" ng-model="$ctrl.starttime" disabled/>
        </div>
    </div>
</div>
<div layout="row">
    <div flex="50">
        <div class="md-text-field" flex="80">
            <label for="promoname">End Date</label>
            <input class="" type="date" ng-model="$ctrl.data.endDtFmt" placeholder="yyyy-MM-dd" name="end" max="9999-12-31" ng-required="$ctrl.preview"
            ng-blur="$ctrl.validatePromotion()" />
            <span class='error-message' ng-show="$ctrl.validationErrors.endDt.isError">{{$ctrl.validationErrors.endDt.message}} </span>
        </div>
    </div>
    <div flex="50" ng-show="$ctrl.viewProp.displayScheduleTime">
        <div class="md-text-field md-text-field-border" flex="80">
            <label for="promomaxredem">End Time (EST)</label>
            <input type="text" id="andtime" name="endtime" ng-model="endtime" disabled/>
        </div>
    </div>
</div>
