<div class="md-textarea">
    <label for="shortdesc">Short Description</label>
    <textarea id="shortdesc" name="shortdesc" ng-model="data.shortDesc" title="Short Description" ng-disabled="data.promoType == 'ORDERPROMO'" rows="4" replace-special-characters></textarea>
</div>
<div class="md-textarea">
    <label for="longdesc">Long Description</label>
	<textarea id="longdesc" name="longdesc" ng-model="data.longDesc" title="Long Description" ng-disabled="data.promoType == 'ORDERPROMO'" rows="8" replace-special-characters></textarea>
</div>