//
// Admin UI Components
// --------------------------------------------------

.header__logo{
	align-self: center;
}
.header__search__module, 
.header__search__button {
	padding-left: 0;
	padding-right: 0;
	align-self: center;
}
.header__search__module__input__field {
	top:12px !important;
}
.header--bg {
	background-color: $dark;
}
.header__logo__text{
	color: $reverse;
	@include text-medium;
}
.header__utility{
	align-self: center;
	text-align: right;
	list-style:none;
}
.header__utility__item{
	color: $reverse;
  text-align: right;
  margin-left: 1em;
  margin-right: 1em;
  display: inline;
}
.header__utility__item__link{
	color: $reverse;
	text-decoraation:none;
}