
<div class="md-select md-select-space" ng-show="viewProp.displayCustomerSegment">
    <label for="promocustomersegment"><h3>Customer Segment (optional)</h3></label>



    <select name="segment" ng-options="segment as segment.name for segment in segmentDetails track by segment.name" ng-model="data.custSegment"
        ng-change="onSegmentSelection()" ng-disabled="preview">
					<option value="">
						-- Select a Customer Segment --
					</option>
</select>

</div>


<div ng-if="data.promoCdRqrd != false  && data.promoSubTypeCd != 'MultipleItemsPercentDiscount' && data.promoSubTypeCd != 'MultipleItemsValueDiscount'">
    <div class="md-text-field">
        <label for="name">Site wide promotion </label>
        <div class="md-radio">
            <input for="sitewide" type="radio" name="sitepromotion" ng-model="data.isSitewideDeal" ng-value="true" ng-disabled="preview" />
            <label><span><span></span></span>Yes</label>
        </div>
        <div class="md-radio">
            <input for="sitewide" type="radio" name="sitepromotion" ng-model="data.isSitewideDeal" ng-value="false" ng-disabled="preview"/>
            <label><span><span></span></span>No </label>
        </div>
    </div>
</div>

<div ng-repeat="item in data.purchaseConds.sources track by $index" ng-init="initializePurchaseOption($index,item,data)">

    <div class="md-text-field">
        <h3>Inclusion</h3>
        <div ng-show="item.purchaseoption == 'category' && viewProp.displayFilterSkuTypes" class="filter_sku_types_link">
            <a class="editOption thd-orange" ng-click="showSkuTypeModal($event,item)" href="">
            <i class="fa fa-filter thd-orange" aria-hidden="true"></i>
            Filter SKU Types
            </a>
        </div> 
        <label ng-show="data.purchaseConds.sources.length > 1">Definition for "{{alphabet[$index]}}" *</label>
        <div class="md-radio" id="itemsoms_div_{{$index}}" ng-show="viewProp.displayOMSId">
            <input type="radio" id="itemsoms_{{$index}}" name="purchaseoption_{{$index}}" ng-model="data.purchaseConds.sources[$index].purchaseoption"
                title="Items/OMS ID's" value="itemoms" ng-change="updatePrintLabel()" ng-disabled="preview" />
            <label for="itemsoms_{{$index}}"><span><span></span></span>Items/OMS ID's</label>
        </div>
        <div class="md-radio" id="itemssku_div_{{$index}}" ng-show="viewProp.displayItemsSku">
            <!--<div class="md-radio">-->
            <input type="radio" id="itemssku_{{$index}}" name="purchaseoption_{{$index}}" ng-model="data.purchaseConds.sources[$index].purchaseoption"
                title="Items/SKU" value="itemsku" ng-change="updatePrintLabel();removeAll()" ng-disabled="preview" />
            <label for="itemssku_{{$index}}"><span><span></span></span>Items/SKU</label>
        </div>
        <div class="md-radio">
            <input type="radio" id="category_{{$index}}" name="purchaseoption_{{$index}}" ng-model="data.purchaseConds.sources[$index].purchaseoption"
                title="Category" value="category" ng-change="updatePrintLabel();removeAll()" ng-disabled="preview"/>
            <label for="category_{{$index}}"><span><span></span></span>Category </label>
        </div>


    </div>
    <!-- Item view Codes Component -->
    <!--<item-inclusion data="item.inclusions.partnumbers" is-disabled="isDisabled" promoform="promoform" ng-show="data.purchaseConds.sources[$index].purchaseoption == 'itemoms'"></item-inclusion>-->
    <item-inclusion data="item.inclusions.partnumbers" preview="preview" itemtype="item.inclusions.itemtype" purchaseoption="item.purchaseoption"
        is-disabled="isDisabled" promoform="promoform" ng-show="item.purchaseoption == 'itemoms' || item.purchaseoption == 'itemsku'" show-sku-type-filter="true"></item-inclusion>
    <!-- Category view Codes Component -->
    <category-view data="item.inclusions.hierarchies" preview="preview" is-disabled="isDisabled" promoform="promoform" ng-show="item.purchaseoption == 'category' && viewProp.displayWebHierarchy">
    </category-view>

    
   
    <!-- NXK8980  MerchCategory-CodeChanges-START -->
    <merch-hierarchy-view data="item.inclusions.hierarchies"  preview="preview" source="item" is-disabled="isDisabled" promoform="promoform" view-prop="viewProp" promo-status="data.status" ng-show="item.purchaseoption == 'category' && viewProp.displayItemsSku">
    </merch-hierarchy-view>
    <!-- NXK8980  MerchCategory-CodeChanges-END -->
    <category-exclusion data="item.exclusions" itemtype="item.exclusions.itemtype" preview="preview" is-disabled="isDisabled" promoform="promoform"
        view-prop="viewProp" ng-show="data.purchaseConds.sources[$index].purchaseoption == 'category'"></category-exclusion>
    <div class="md-text-field" ng-if="data.purchaseConds.sources.length > 1">
        <label for="promocombo">Quantity of "{{alphabet[$index]}}"</label>
        <input type="number" class="buyAorB" name="minPurchaseQty" ng-model="item.minPurchaseQty" title="Quantity of {{alphabet[$index]}}"
            placeholder="Quantity of {{alphabet[$index]}}" allow-pattern="(^[0-9]\d*$)" ng-init="item.minPurchaseQty=  item.minPurchaseQty || 1" ng-disabled="preview"
        />
    </div>

</div>

<div class="md-text-field" ng-show="viewProp.displayPaymentType">
    <label for="promocombo">Target payment type</label>
    <input type="text" name="promocombo" ng-model="data.promocombo" title="Promotion Combiantions" placeholder="Any payment type"
        disabled/>
</div>