<div class="md-dialog-content promosku-type-modal">
  <!--  <div class="close-sku-type-modal" ng-click="closeSkuTypeModal()">&times;</div>-->
    <h4>Filter SKU Types</h4>
    <br/>
    <p>The following SKU types are included in your Discount.</p>
    <br/>

    <table class="skyType__table" >
        <tr class="skyType__table__row-notopborder" ng-repeat="skuType in $ctrl.skuTypes">

            <td>
                {{skuType.skuTypeCode}} - {{skuType.description}}  
            </td>
            <td>
                {{skuType.skuCount}} 
            </td>

            <td>
                SKUs
            </td>
        </tr>
    </table>
      <!--<div ng-repeat="skuType in $ctrl.skuTypes">
          
            <label for="label">
                <span>
                    <span>
                    </span>
                    </span>{{skuType.skuTypeCode}} - {{skuType.description}} {{skuType.skuCount}}</label>
          
        </div>-->
    
    <!--<a href="" class="md-button secondary " style="margin-top:28px" ng-click="closeSkuTypeModal()" > Close Message-->
        <div align ="center">
        <a href="" ng-click="$ctrl.closeSkuTypeModal()"> Close Message  </a>
                </div>
</div>