
<form name="$ctrl.promoForm" ng-cloak>
	<fieldset ng-disabled="$ctrl.isDisabled">
		<section class="admin__promotion__section" ng-show="$ctrl.index == 0 || $ctrl.preview">
		
			<div class="md-text-field">
				<h4>
					Discount Name <span class="mandatory-icon"><i class="fa fa-asterisk"></i></span>
				</h4>
				<input type="text" id="name" name="name" ng-model="$ctrl.data.name" title="Discount Name" ng-trim="false" ng-maxlength="254" ng-required="$ctrl.preview" ng-disabled="$ctrl.preview" replace-special-characters />
				<label for="placeHolder">Enter 254 characters or fewer</label>
				<span class='error-message' ng-show="$ctrl.promoForm.name.$invalid">
					<span ng-show="$ctrl.promoForm.name.$error.required">
						Please enter a valid promotion name
					</span>
					<span ng-show="$ctrl.promoForm.name.$error.maxlength">
						Please enter a valid discount name less than or equal to 254 characters
					</span>
				</span>
			</div>			
			<div class="md-select md-select-space" ng-show="$ctrl.viewProp.displayDiscountType">
				<h4>
					Discount Type <span class="mandatory-icon"><i class="fa fa-asterisk"></i></span>
				</h4>
				<select name="promotype" ng-options="promotype as promotype.promoSubTypeDesc for promotype in $ctrl.promotionSubTypes" ng-model="$ctrl.promoSubTypeObject" ng-change="$ctrl.getSelectedSubTypes(); $ctrl.resetRewardsOnPromoTypeChange(); $ctrl.validatePromotion()" ng-required="$ctrl.viewProp.displayDiscountType && $ctrl.preview" ng-disabled="$ctrl.preview">
					<option value="">
						-- Select a discount type --
					</option>
				</select>
				<span class='error-message' ng-show=" $ctrl.promoForm.promotype.$invalid">
					<span ng-show="$ctrl.promoForm.promotype.$error.required">
						Please select a valid discount type
					</span>
				</span>
			</div>

			<div class="md-select md-select-space" ng-show="$ctrl.viewProp.displayRedemptionMethod">
				<h4>
					Redemption Method  <span class="mandatory-icon"><i class="fa fa-asterisk"></i></span>
				</h4>
				<select ng-options="method.value as method.label for method in $ctrl.redemptionMethodTypes" ng-model="$ctrl.data.promoCdRqrd" ng-disabled="$ctrl.preview">
					<option value="">
						-- Select a redemption method --
					</option>
				</select>
			</div> 
			<promotion-code-specification ng-if="$ctrl.data.promoCdRqrd && $ctrl.userType == 229" test ="{{$ctrl.data.couponId}}" couponId="$ctrl.data.couponId" preview="$ctrl.preview" ng-disabled="$ctrl.preview" data="$ctrl.data.promoCdSpec" require="$ctrl.data.promoCdRqrd" promoform='$ctrl.promoForm'></promotion-code-specification>
			<div class="md-text-field" ng-show="$ctrl.viewProp.displayCombinationPromo">
				
				<h4>	
					Combination with other discounts
				</h4>
				
				<input type="text" name="promocombo" ng-model="$ctrl.data.promocombo" title="Promotion Combinations" placeholder="Combine with other promotions" disabled />
			</div>
			<div class="md-text-field"  >	
				<!--<div class="md-text-field" ng-show="viewProp.displayPriority">	-->

				<h4>
					Priority
					<tool-tipper tooltiptitle="Priority">
			        <p>
			        	Assign a priority by entering a number between zero and one thousand. Zero is the lowest priority and one thousand is the highest priority. When multiple discounts are qualified for the same purchase condition, the one with the highest priority will be applied first.
			        </p>
			    </tool-tipper>
				</h4>
			    
				<input type="number" name="priority" ng-model="$ctrl.data.priority" title="Priority" placeholder="Enter number between 0 and 1000" ng-required="$ctrl.preview" ng-disabled="$ctrl.preview" 
				allow-pattern="(\d)" ng-blur = "$ctrl.validatePromotion()">
				<!--<input type="number" name="priority" ng-model="data.priority" min="0" max="1000" title="Priority" placeholder="Enter number between 0 and 1000" ng-required="preview" allow-pattern="(\d)" />-->
				<span class='error-message' ng-show="$ctrl.promoForm.priority.$invalid">
					<span ng-show="$ctrl.promoForm.priority.$error.required">
						Please enter a valid promotion priority (should be numeric)
					</span>
				</span>
				
				<span class='error-message' ng-show="$ctrl.validationErrors.priorityRange.isError">{{$ctrl.validationErrors.priorityRange.message}}</span>

			</div>

			<div ng-show="$ctrl.viewProp.displayExclusiveCheckbox" class="pbxl">
				<div>
					<h4>Exclusivity</h4>
				</div>
				<div>
					<md-checkbox data-ng-click="$ctrl.toggleExclusive()" data-ng-checked="$ctrl.data.exclsve==1" id="exclusivity" ng-disabled="$ctrl.preview">Do not stack with other discounts</md-checkbox>
				</div>
			</div>
			<!-- <CHANNEL SELECT PLACEHOLDER -->	
			<channel-select ng-if="!$ctrl.preview && $ctrl.viewProp.displayChannelSelect" view-prop="$ctrl.viewProp" data="$ctrl.data"></channel-select>

			<!-- <CHANNEL SELECT PLACEHOLDER -->
			<div ng-show="$ctrl.viewProp.displaySingleSkuBulk && $ctrl.data.singleSkuBulkFlag" class="singleSkuBulk">
				<div>
					<h4>Single Sku Bulk</h4>
				</div>
				<div>
					<md-checkbox data-ng-click="$ctrl.toggleSingleSkuBulk()" data-ng-checked="$ctrl.data.singleSkuBulk==1" ng-disabled="$ctrl.preview">Redeem through Single SKU Bulk</md-checkbox>
				</div>
			</div>		
		</section>
		<section class="admin__promotion__section" ng-show="$ctrl.index == $ctrl.sectionsIndex.QUALIFIERS || $ctrl.preview">
			<qualifiers preview="$ctrl.preview" data="$ctrl.data" view-prop="$ctrl.viewProp" promoform="$ctrl.promoForm" locations="$ctrl.data.purchaseConds.locations" markets="$ctrl.data.purchaseConds.markets" validation-errors="$ctrl.validationErrors" is-disabled="$ctrl.isDisabled">
			</qualifiers>
		</section>
		<section class="admin__promotion__section" ng-show="$ctrl.index == $ctrl.sectionsIndex.REWARDS || $ctrl.preview">
				<rewards data="$ctrl.data" preview="$ctrl.preview" view-prop="$ctrl.viewProp" qualuom = "$ctrl.data.purchaseConds.qualUOM" promoform="$ctrl.promoForm" validation-errors="$ctrl.validationErrors" purchase-condition="$ctrl.data.purchaseConds" is-disabled="$ctrl.isDisabled" promotype="$ctrl.data.promoSubTypeCd">
				</rewards>
		</section>
		<section class="admin__promotion__section" ng-show="$ctrl.viewProp.displayPromoDescription && ($ctrl.index == $ctrl.sectionsIndex.DESCRIPTIONS || $ctrl.preview)">
				<promo-description data="$ctrl.data" preview="$ctrl.preview">
				</promo-description>
		</section>
		<section class="admin__promotion__section" ng-show="$ctrl.viewProp.displayRedemptionLimits && ($ctrl.index == $ctrl.sectionsIndex.REDEMPTION_LIMITS || $ctrl.preview)">
				<redemption-limit data="$ctrl.data.redmptnLmt" promoform="$ctrl.promoForm" preview="$ctrl.preview">
				</redemption-limit>
		</section>


		<section class ="admin__promotion__section" ng-show="$ctrl.viewProp.displayPrintLabel && ($ctrl.index == $ctrl.sectionsIndex.LABELS || $ctrl.preview)">
			<promo-labels data ="$ctrl.data" preview="$ctrl.preview" validation-errors="$ctrl.validationErrors" promoform="$ctrl.promoForm">
			</promo-labels>
		</section>

		<section class="admin__promotion__section" ng-show="$ctrl.index == $ctrl.sectionsIndex.SCHEDULE || $ctrl.preview">
				<promo-schedule data="$ctrl.data" preview="$ctrl.preview" promoform="$ctrl.promoForm" form-holder="$ctrl.formHolder" validation-errors="$ctrl.validationErrors" view-prop="$ctrl.viewProp">

				</promo-schedule>
		</section>

	</fieldset>
</form>
