<form name="$ctrl.promoForm" ng-cloak>
    <fieldset ng-disabled="$ctrl.isDisabled">
        <section class="admin__promotion__section" ng-show="$ctrl.index == 0 || $ctrl.preview">
            <properties data="$ctrl.data" view-prop="$ctrl.viewProp" preview="$ctrl.preview"
                        form-holder="$ctrl.formHolder"
                        promoform="$ctrl.promoForm" promo-mfa="$ctrl.promoMfa"
                        validation-errors="$ctrl.validationErrors">
            </properties>
        </section>

        <section class="admin__promotion__section"
                 ng-show="$ctrl.index == $ctrl.sectionsIndex.QUALIFIERS || $ctrl.preview">
            <qualifiers preview="$ctrl.preview" data="$ctrl.data" view-prop="$ctrl.viewProp"
                        promoform="$ctrl.promoForm" locations="$ctrl.data.purchaseConds.locations"
                        markets="$ctrl.data.purchaseConds.markets" validation-errors="$ctrl.validationErrors"
                        is-disabled="$ctrl.isDisabled">
            </qualifiers>
        </section>

        <section class="admin__promotion__section"
                 ng-show="$ctrl.index == $ctrl.sectionsIndex.REWARDS || $ctrl.preview">
            <rewards data="$ctrl.data" preview="$ctrl.preview" view-prop="$ctrl.viewProp"
                     qualuom="$ctrl.data.purchaseConds.qualUOM"
                     promoform="$ctrl.promoForm" validation-errors="$ctrl.validationErrors"
                     purchase-condition="$ctrl.data.purchaseConds"
                     is-disabled="$ctrl.isDisabled" promotype="$ctrl.data.promoSubTypeCd">
            </rewards>
        </section>

        <section class="admin__promotion__section" ng-show="$ctrl.index == $ctrl.sectionsIndex.SUMMARY">
            <summary-page data="$ctrl.data" promo-form="$ctrl.promoForm" form-holder="$ctrl.formHolder"
                          validation-errors="$ctrl.validationErrors"
                          view-prop="$ctrl.viewProp">

            </summary-page>
        </section>
    </fieldset>
</form>
