<span class="tooltip" id="tooltipWarning">
	<span class="tooltiphead">
	<!--<i class="tooltipicon fa fa-info-circle" aria-label="{{tooltiptitle}}" ng-click="showToolTip=!showToolTip"></i>-->
	</span> 


    <span ng-show="showToolTip" class="tooltipbody">
			<div class="tooltippoint-warning">
			&nbsp;
		</div>
		<div class="tooltipcontent-warning">
			<div class="tooltipmessage ax_default">
				<ng-transclude></ng-transclude>
			</div>
			<div class="tooltipclose-warning">
				<i class="fa fa-close" aria-label="Close" ng-click="showToolTip=!showToolTip"></i>
			</div>
		</div>
    </span>
</span>
