</br>
<div>
	<span class="mandatory-icon">
		<i class="fa fa-asterisk"></i>
	</span>
    <span class="span-spacing">Asterisk indicates required field</span>

</div>
</br>
<div class="admin__promotion__form__controls">
    <div>
        <button class="button " ng-click="pageDown(index-1)" ng-show="index>0">
            Back
        </button>
    </div>

    <div>
        <button class="button primary" ng-click="pageUp(index + 1)" ng-show="showNextButton(index)">
            Next
        </button>
    </div>
</div>
