</br>
<div>
	<span class="mandatory-icon"><i class="fa fa-asterisk"></i></span><span class="span-spacing">Asterisk indicates required field</span>

</div>
</br>
<div class="admin__promotion__form__controls">
	<button href="" class="button admin__promotion__form__controls--left" ng-click="pageDown(index-1)" ng-show="index>0">
		Back
	</button>
	
	<button href="" class="button btn-primary admin__promotion__form__controls--right" ng-click="pageUp(index + 1)" ng-show="index<data.length-1">
		Next
	</button>
</div>
