<table class="table category__table" ng-show="!$ctrl.isSkuSearch">
	<tr class="category__table__row-nobottomborder">
		<td colspan="4">
			<div class="md-toolbar-search l">
				<input class="table__search" placeholder="Search and Add Item OMS ID" type="text" ng-model="$ctrl.itemSearch" ng-keypress="($event.keyCode === 13) && $ctrl.search($ctrl.itemSearch)"
				ng-class="{'error': inValidOmsInfo}" ng-change="$ctrl.clear()" allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" />
				<a class="md-button secondary no-padding" href="" ng-click="$ctrl.search($ctrl.itemSearch)">
					Search
				</a>
				<ul>
					<span class='error-message' ng-show="$ctrl.showInvalidError">                   
				    <span>
				   			Please enter a valid 9 digit OMS ID
				    </span>
					</span>
				</ul>
				<ul class="table__search__results">
					<li ng-repeat="item in $ctrl.searchResults | filter: $ctrl.itemSearch">
						<a href="" ng-click="$ctrl.addItem(item)" class="table__search__results__item">
							{{item.omsId}} | {{item.prodName}}
						</a>
					</li>
					<li>
						<a ng-show="$ctrl.searchResults.length" href="" ng-click="$ctrl.searchResults = []" class="table__search__results__item">
							Close
						</a>
					</li>
				</ul>
			</div>
		</td>
	</tr>
	<tr class="category__table__row-notopborder">
		<th>
			OMS ID
		</th>
		<th>
			Sku
		</th>
		<th>
			Description
		</th>
		<th class="r">
			<a class="editOption thd-orange" ng-if="$ctrl.validOmsInfo && $ctrl.validOmsInfo.length >0" ng-click="$ctrl.removeAll()" href="">
				Remove All
			</a>
		</th>
	</tr>
	<tr ng-repeat="item in $ctrl.validOmsInfo track by $index" ng-class="{odd:($index % 2)}">
		<td>
			{{item.omsId}}
		</td>
		<td>
			{{item.skuNumber}}
		</td>
		<td>
			{{item.prodName}}
		</td>
		<td class="r">
			<a class="editOption thd-orange" ng-click="$ctrl.isDisabled || $ctrl.removePromoCode($index)" href="">
				Remove
			</a>
		</td>
	</tr>
</table>



<table class="table category__table" ng-show="$ctrl.isSkuSearch">
	<tr class="category__table__row-nobottomborder">
		<td colspan="4">
			<div class="md-toolbar-search l">
				<input class="table__search" placeholder="Search and Add Item Sku Number" type="text" ng-model="$ctrl.itemSkuSearch" ng-keypress="($event.keyCode === 13) && $ctrl.search($ctrl.itemSkuSearch)"
				ng-class="{'error': $ctrl.inValidSkuInfo}" ng-change="$ctrl.clear()" allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" />
				<a class="md-button secondary no-padding" href="" ng-click="$ctrl.search($ctrl.itemSkuSearch)">
					Search 
				</a>
				<ul>
					<span class='error-message' ng-show="$ctrl.showInvalidError">                   
				    <span>
				   			Invalid Skus Entered, Please enter a valid Sku Number.
				    </span>
					</span>
				</ul>
			</div>
		</td>
	</tr>
	<tr class="category__table__row-notopborder">

		<th>
			SKU
		</th>
		<th>
			SKU Type
		</th>
		<th>
			Description
		</th>
		<th class="r">
			<a class="editOption thd-orange" ng-if="$ctrl.validSkuInfo && $ctrl.validSkuInfo.length >0" ng-click="$ctrl.removeAll()" href="">
				Remove All
			</a>
		</th>
	</tr>
	<tr ng-repeat="item in $ctrl.validSkuInfo track by $index" ng-class="{odd:($index % 2)}">
		<td>
			{{item.skuNumber}}
		</td>
		<td>
			{{item.skuTypeCode}} - {{$ctrl.skuTypeDescriptionLookup[item.skuTypeCode]}}
		</td>
		<td>
			{{item.skuDescription}}
		</td>
		<td class="r">
			<a class="editOption thd-orange" ng-click="$ctrl.isDisabled || $ctrl.removePromoCode($index)" href="">
				<i class="fa fa-fw" aria-hidden="true" title="Remove"></i>
			</a>
		</td>
	</tr>
</table>
<div id="itemCountDiv">
	<span ng-show="$ctrl.validOmsInfo.length > 0 && !$ctrl.isSkuSearch" id="itemCount">{{$ctrl.validOmsInfo.length}} Item(s)</span>
	<span ng-show="$ctrl.validSkuInfo.length > 0 && $ctrl.isSkuSearch" id="skuCount">{{$ctrl.validSkuInfo.length}} SKU(s)</span>	
</div>
