
<div ng-if="$ctrl.isSingleSourcePurchaseCondition()">

	<div id="rewardsId" class="md-text-field">
		<table>
			<tr ng-if="$ctrl.isMFAUser"><td class="prxxl" colspan="2"><h3 class="pbl">Discount</h3></td></tr>
			<tr><td class="prxxl">
				<div>
					<label>{{$ctrl.thresholdHeaderLabel}}</label>
					<div class="md-radio">
						<input type="radio" id="quantity" name="minpurchase" ng-model="$ctrl.qualuom" title="Quantity Purchase" value="Quantity" ng-change="$ctrl.setQualUOM($ctrl.qualuom);$ctrl.updatePrintLabel()" ng-disabled="$ctrl.preview"/>
						<label for="quantity"><span><span></span></span>{{$ctrl.thresholdQuantityLabel}}</label>
					</div>

					<div class="md-radio">
						<input type="radio" id="amount" name="minpurchase" ng-model="$ctrl.qualuom" title="Amount Spent" value="Amount" ng-change="$ctrl.setQualUOM($ctrl.qualuom);$ctrl.updatePrintLabel()" ng-disabled="$ctrl.preview"/>
						<label for="amount"><span><span></span></span>{{$ctrl.thresholdAmountLabel}}</label>
					</div>
				</div>
			</td>
			<td>
				<div ng-if="$ctrl.isMFAUser">
					<label>Discount Type</label>
					<div class="md-radio">
						<input type="radio" id="quantity" name="discountType" ng-model="$ctrl.data.reward.type" title="Quantity Purchase" value="PERCNTOFF" ng-change="$ctrl.updatePrintLabel()" ng-disabled="$ctrl.preview"/>
						<label for="quantity"><span><span></span></span>Percent Off</label>
					</div>

					<div class="md-radio">
						<input type="radio" id="amount" name="discountType" ng-model="$ctrl.data.reward.type" title="Amount Spent" value="AMTOFF" ng-change="$ctrl.updatePrintLabel()" ng-disabled="$ctrl.preview"/>
						<label for="amount"><span><span></span></span>Dollar Off</label>
					</div>
				</div>
			</td></tr>
		</table>
	</div>

	<table class="table category__table">
			<tr class="category__table__row-nobottomborder" ng-hide="$ctrl.preview">
					<td colspan="4">
							<a href="" class="purchaseCondition__btn md-button" ng-click="$ctrl.addPurchaseCondition()">Add New Condition</a>
					</td>
			</tr>
			<tr class="odd">
					<td class="md-text-field">
							<label for="name">Minimum Purchase ({{$ctrl.qualuom}})</label>
					</td>
					<td class="md-text-field">
							<label for="name" ng-if="$ctrl.data.reward.type">{{$ctrl.getRewardLabel()}} Off</label>
					</td>
					<td class="md-text-field" ng-if="$ctrl.data.reward.type=='PERCNTOFF'">
							<label for="name">Maximum Discount Amount</label>
					</td>
					<td class="md-text-field"></td>
			</tr>

			<tr ng-repeat="item in $ctrl.data.reward.details track by $index" ng-class="{odd:($index % 2)}">
					<td ng-class="$ctrl.qualuom == 'Amount' ? 'md-text-field md-text-prefixed' : 'md-text-field'">
							<input type="text" id="minamount" name="minamount_{{$index}}" ng-blur="$ctrl.validatePromotion()" ng-model="item.min" ng-required="$ctrl.preview" allow-pattern="(\d)" min = "1" ng-if="$ctrl.qualuom == 'Quantity'" ng-disabled="$ctrl.preview"/>
							<input type="text" id="minamount" name="minamount_{{$index}}" ng-blur="$ctrl.validatePromotion()" ng-model="item.min" ng-required="$ctrl.preview" allow-pattern="^[\d.]+$" min = "1" ng-if="$ctrl.qualuom == 'Amount'" ng-disabled="$ctrl.preview"/>
							<div class="md-text-prefix" ng-if="$ctrl.qualuom == 'Amount'">$</div>									
							<span class='error-message' ng-show="$ctrl.promoform['minamount_' + $index].$invalid "></span> 
							<span class='error-message' ng-show="$ctrl.validationErrors.minimumThreshold[$index].isError && $ctrl.qualuom == 'Quantity'">Minimum purchase quantity {{$ctrl.validationErrors.minimumThreshold[$index].message}} </span>
							<span class='error-message' ng-show="$ctrl.validationErrors.minimumThreshold[$index].isError && $ctrl.qualuom == 'Amount'">Minumum purchase amount {{$ctrl.validationErrors.minimumThreshold[$index].message}} </span>
					</td>
					<td ng-class="$ctrl.data.reward.type=='PERCNTOFF' ? 'md-text-field md-text-suffixed' : 'md-text-field md-text-prefixed'">
							<!-- <td class="md-text-field md-text-suffixed"> -->
							<input type="text" id="value" name="value_{{$index}}" ng-model="item.value" ng-required="$ctrl.preview" ng-blur="$ctrl.roundPercentage($index); $ctrl.validatePromotion()" allow-pattern="^[\d.]+$" ng-if="$ctrl.data.reward.type=='AMTOFF'" ng-disabled="$ctrl.preview"/>
							<div class="md-text-prefix" ng-if="$ctrl.data.reward.type=='AMTOFF'">$</div>									
							<input type="text" id="value" name="value_{{$index}}" ng-model="item.value" ng-required="$ctrl.preview" ng-blur="$ctrl.roundPercentage($index); $ctrl.validatePromotion()" allow-pattern="^[\d.]+$" ng-if="$ctrl.data.reward.type=='PERCNTOFF'" class="tooltiphead" ng-disabled="$ctrl.preview"/>
							<div class="md-text-suffix" ng-if="$ctrl.data.reward.type=='PERCNTOFF'">%</div>
							<span class='error-message' ng-show="$ctrl.promoform['value_' + $index].$invalid || $ctrl.preview">
										<span ng-show="$ctrl.promoform['value_' + $index].$error.min">
											Please enter a value above 0
										</span>
								</span>
								<span class='error-message' ng-show="$ctrl.validationErrors.rewards[$index].isError">{{$ctrl.validationErrors.rewards[$index].message}}	</span>					

								<tool-tipper-warning  ng-show="$ctrl.validationErrors.percentageWarning[$index].isError" show-tool-tip="true">	
									<p>
									{{$ctrl.validationErrors.percentageWarning[$index].message}}
									</p>		
								</tool-tipper-warning>
					</td>
					<td class="md-text-field md-text-prefixed" ng-if="$ctrl.data.reward.type=='PERCNTOFF'">
							<input type="text" id="maxval" name="maxval_{{$index}}" ng-model="item.maxAllowedVal" ng-blur="$ctrl.validatePromotion()"  ng-if="$ctrl.data.reward.type=='PERCNTOFF' || $ctrl.data.purchaseConds.channels == 87" allow-pattern="^[\d.]+$" ng-disabled="$ctrl.preview"  />
							<div class="md-text-prefix">$</div>
							<span class='error-message' ng-show="$ctrl.promoform['maxval_' + $index].$invalid ">
								<span ng-show="$ctrl.promoform['maxval_' + $index].$error.pattern">Please enter valid number</span>
							</span> 
					</td>
					<td class="md-text-field" ng-hide="$ctrl.preview"> <a ng-click="$ctrl.isDisabled || $ctrl.removePurchaseCondition($index)">Remove</a>
					</td>
			</tr>
	</table>
</div>

<div ng-if="$ctrl.isMultiSourcePurchaseCondition()">
    <div class="md-text-field" ng-if="$ctrl.promotype=='MultipleItemsPercentDiscount'">
      <label for="percentoff">Percentage discount off each combination</label>
      <input type="text" ng-model="$ctrl.data.reward.details[0].value" name="percentoff" ng-blur="$ctrl.validatePromotion()" ng-required="$ctrl.preview" required allow-pattern="(\d)" ng-disabled="$ctrl.preview"/>
		<span class='error-message' ng-show="$ctrl.validationErrors.rewards[0].isError">{{$ctrl.validationErrors.rewards[0].message}}	</span>
    </div>

    <div class="md-text-field" ng-if="$ctrl.promotype=='MultipleItemsValueDiscount'">
      <label for="amountoff">Amount off each combination</label>
      <input type="text" ng-model="$ctrl.data.reward.details[0].value" name="amountoff" ng-blur="$ctrl.validatePromotion()" ng-required="$ctrl.preview" required allow-pattern="^[\d.]+$" ng-disabled="$ctrl.preview" />
       <span class='error-message' ng-show="$ctrl.promoform.amountoff.$invalid ">
			<span ng-show="$ctrl.promoform.amountoff.$error.required">Please enter a valid amount</span>
	</span>
    </div>

    <div class="md-text-field">
      <label for="maxdiscount">Maximum discount amount</label>
      <input type="text" ng-model="$ctrl.data.reward.details[0].maxAllowedVal"   name="maxdiscount" allow-pattern="^[\d.]+$" ng-disabled="$ctrl.preview" />
    </div>	
</div>

<div class="md-text-field">
	<div ng-if="$ctrl.isMFAUser">
		<label for="discountLevel">Discount Application</label>
		<tool-tipper tooltiptitle="Priority">
			 <table class="discountLevelToolTip">
				<tr>
					<td>Item A</td>
					<td class="highlight" >$10.00</td>
					<td>–––– Item Level</td>
				</tr>
				<tr>
					<td>Item B</td>
					<td>$15.00</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="3">––––––––––––––––––––––––––</td>
				</tr>
				<tr>
					<td></td>
					<td class="highlight" >$25.00</td>
					<td>–––– Order Level</td>
				</tr>
			</table> 

		</tool-tipper>
		<div class="md-radio">
			<input type="radio" id="itemLevel" name="discountLevel" ng-model="$ctrl.data.promoType" title="Item Level" value="ITEMPROMO" ng-change="$ctrl.setRewardMethod()" ng-disabled="$ctrl.preview"/>
			<label for="itemLevel"><span><span></span></span>Item Level</label>
		</div>

		<div class="md-radio">
			<input type="radio" id="orderLevel" name="discountLevel" ng-model="$ctrl.data.promoType" title="Order Level" value="ORDERPROMO" ng-change="$ctrl.setRewardMethod()" ng-disabled="$ctrl.preview"/>
			<label for="orderLevel"><span><span></span></span>Order Level</label>
		</div>
	</div>
</div>

<div>
</div>

