//
// Global Alerts
// --------------------------------------------------

.alert {
  position:relative;
  min-height: 36px;
  border-bottom:4px solid;
  background-color: $faded;
  @extend %p-horizontal-small;
  @extend %flex;
  @extend %align-items-center;

  @at-root #{&}--danger {
    border-color:$danger;
    &:before {
      content: url("#{$imagePath}error.svg");
      margin-left: 0;
      margin-right: $space-small;
      z-index: 1
    }
  }
    @at-root #{&}--success {
    border-color:$success;
    &:before {
      content: url("#{$imagePath}success.svg");
      margin-left: 0;
      margin-right: $space-small;
      z-index: 1
    }
  }
    @at-root #{&}--warning {
    border-color:$warning;
    &:before {
      content: url("#{$imagePath}advisory.svg");
      margin-left: 0;
      margin-right: $space-small;
      z-index: 1
    }
  }

}

.alert-inline {
  min-height: 36px;
  @extend %flex;
  @extend %align-items-center;

  @at-root #{&}--danger {
    color:$danger;
    &:before {
      content: url("#{$imagePath}error.svg");
      margin-left: 0;
      margin-right: $space-small;
      z-index: 1
    }
  }
  @at-root #{&}--success {
  color:$success;
  &:before {
    content: url("#{$imagePath}success.svg");
    margin-left: 0;
    margin-right: $space-small;
    z-index: 1
    }
  }
  @at-root #{&}--warning {
  color:$warning;
  &:before {
    content: url("#{$imagePath}advisory.svg");
    margin-left: 0;
    margin-right: $space-small;
    z-index: 1
    }
  }
}