/*Default Button*/

.md-button {
  display: inline-block;
  font-size: 18px;
  color: #F96302;
  background-color: #FBFBFB;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  line-height: 46px;
  min-height: 46px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  text-align: center;
  padding: 0px 20px;
  outline: none;
  margin: 0px 15px;
  letter-spacing: 0px;
  &:visited {
    display: inline-block;
    font-size: 18px;
    color: #F96302;
    background-color: #FBFBFB;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    line-height: 46px;
    min-height: 46px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    text-align: center;
    padding: 0px 20px;
    outline: none;
    margin: 0px 15px;
    letter-spacing: 0px;
  }
  &:hover, &:focus {
    background-color: #FFFFFF;
    color: #F96302;
  }
  &:disabled, &[disabled="disabled"], &[disabled="disabled"]:hover, &.disabled {
    color: #999999;
    background-color: #FBFBFB;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    cursor: not-allowed;
  }
  &:active {
    background-color: #f5f5f5;
    border: 0px solid #FFFFFF;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  }
  &.primary {
    background-color: #F96302;
    color: #FFFFFF;
    &:visited {
      background-color: #F96302;
      color: #FFFFFF;
    }
    &:hover, &:focus {
      background-color: #F97A27;
      color: #FFFFFF;
    }
    &:active {
      background: #D35401;
      box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    }
    &:disabled, &.disabled {
      color: #DDDDDD;
      background: #999999;
      cursor: not-allowed;
    }
    &.md, &.sm {
      font-size: 18px;
      line-height: 46px;
      min-height: 46px;
    }
  }
  &.tertiary {
    background-color: transparent;
    color: #F96302;
    box-shadow: none;
    &:visited {
      background-color: transparent;
      color: #F96302;
      box-shadow: none;
    }
    &:hover, &:focus {
      background-color: #F5F5F5;
      color: #F96302;
    }
    &:active {
      background-color: #f5f5f5;
      box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    }
    &:disabled, &.disabled {
      color: #999999;
      background: #F5F5F5;
      cursor: not-allowed;
    }
  }
  &.error {
    color: #EE2327;
    border: 1px solid #EE2327;
    background-color: #FBFBFB;
    &:visited {
      color: #EE2327;
      border: 1px solid #EE2327;
      background-color: #FBFBFB;
    }
    &:hover, &:focus {
      background-color: #FFFFFF;
      color: #EE2327;
    }
    &:active {
      background-color: #f5f5f5;
      color: #EE2327;
      box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    }
  }
  &.success {
    color: #00AE4D;
    border: 1px solid #00AE4D;
    background-color: #FBFBFB;
    &:visited {
      color: #00AE4D;
      border: 1px solid #00AE4D;
      background-color: #FBFBFB;
    }
    &:hover, &:focus {
      background-color: #FFFFFF;
      color: #00AE4D;
    }
    &:active {
      background-color: #f5f5f5;
      color: #00AE4D;
      box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    }
  }
  &.md {
    font-size: 16px;
    line-height: 38px;
    min-height: 38px;
    padding: 0 18px;
  }
  &.sm {
    font-size: 14px;
    line-height: 30px;
    min-height: 30px;
    padding: 0 10px;
  }
}

/*Primary Button*/

/*Tertiary Button*/

/*Error Button*/

/*Confirmation Button*/

/*Button Sizes*/

.md-button-group {
  .md-button {
    margin: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    &:first-child {
      -moz-border-top-left-radius: 2px;
      -webkit-border-top-left-radius: 2px;
      -ms-border-top-left-radius: 2px;
      border-top-left-radius: 2px;
      -moz-border-bottom-left-radius: 2px;
      -webkit-border-bottom-left-radius: 2px;
      -ms-border-bottom-left-radius: 2px;
      border-bottom-left-radius: 2px;
      margin-left: 15px;
    }
    &:last-child {
      -moz-border-top-right-radius: 2px;
      -webkit-border-top-right-radius: 2px;
      -ms-border-top-right-radius: 2px;
      border-top-right-radius: 2px;
      -moz-border-bottom-right-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
      -ms-border-bottom-right-radius: 2px;
      border-bottom-right-radius: 2px;
      margin-right: 0px;
    }
  }
  &.md .md-button {
    font-size: 16px;
    line-height: 38px;
    min-height: 38px;
    padding: 0 18px;
  }
  &.sm .md-button {
    font-size: 14px;
    line-height: 30px;
    min-height: 30px;
    padding: 0 10px;
  }
}
