.category__table {
    width: 100%;
    margin: 35px 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    text-align: left;
    background: #fff;
    tr, td, th {
        border-right: none !important;
        border-left: none !important;
        border-spacing: 0;
        vertical-align: middle;
    }
}

.category__table__browse {
    text-align: right;
}

tr.category__table__row-notopborder {
    border-top: none;
}

.category__table__row-notopborder {
    td, th {
        border-top: none;
    }
}

tr.category__table__row-nobottomborder {
    border-bottom: none;
}

.category__table__row-nobottomborder {
    td, th {
        border-bottom: none;
    }
}
