/* TABLE OF CONTENTS */

/* 

FLEXBOX
SPACING

*/

/* FLEX BOX STYLES */

%flex {
  @include flexbox((
    display: box,
    box-pack: justify
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    box-pack: justify
  ), $version: 2);
  @include flexbox((
    display: flex,
    box-pack: justify
  ));
}
%flex-vcenter {
  @include flexbox((
    display: box,
    box-orient: horizontal,
    box-align: center,
    box-direction: normal,
    box-pack: center
  ));
  @include flexbox((
    display: box,
    box-orient: horizontal,
    box-align: center,
    box-direction: normal,
    box-pack: center
  ), $version: 2);
}
%flex-grow-1 {
  @include flexbox((
    box-flex:1,
    flex-grow:1
  ));
}
%flex-grow-2 {
  @include flexbox((
    box-flex:2,
    flex-grow:2
  ));
}
%flex-50 {
  @include flexbox((
    box-flex: 1,
    flex: 1
  ));
}
%no-shrink {
  @include flex-shrink(0)
}
%no-wrap {
  @include flex-wrap(nowrap);
}
%flex-end {
  @include flexbox((
    box-pack: end
  ));
  @include justify-content(flex-end)
}
%flex-start {
  @include flexbox((
    box-pack: start
  ));
  @include align-self(flex-start)
}
%space-between {
  @include flexbox((
    align-items: stretch,
    box-pack: justify
  ));
  @include justify-content(space-between)
}
%justify-center {
  @include flexbox((
    box-pack: center
  ));
  @include justify-content(center)
}
%align-items-center {
  @include flexbox((
    box-align: center
  ));
  @include align-items(center);
}
%align-items-baseline {
  @include flexbox((
    box-align: baseline
  ));
  @include align-items(baseline);
}

// BACKGROUND COLORS

%bg-reverse {
  background-color: $reverse;
}
%bg-dark {
  background-color: $dark;
}
%bg-primary {
  background-color: $primary;
}
%bg-secondary {
  background-color: $secondary;
}
%bg-light {
  background-color: $light;
}
%bg-faded {
  background-color: $faded;
}
%bg-lightest {
  background-color: $lightest;
}
%bg-brand {
  background-color: $brand;
}
%bg-warning {
  background-color: $warning;
}
%bg-danger {
  background-color: $danger;
}
%bg-success {
  background-color: $success;
}
%bg-alternate {
  background-color: $alternate;
}

/*  ----------------------------------------
  (3a) Typography - Text Colors */

%text-brand { // thd-orange
  color: $brand;
}
%text-primary { // dark-gray
  color: $primary;
}
%text-dark { // near-black
  color: $dark;
}
%text-reverse { // white
  color: $reverse;
}
%text-danger { // red
  color: $danger;
}
%text-alternate { // blue
  color: $alternate;
}
%text-success { // green
  color: $success;
}


%text-light { // Light gray - don't use for text, only for icons
  color: $light; 
}
%text-warning { // Yellow - don't use for text, only for icons
  color: $warning; 
}

/*  ----------------------------------------
  (3b) Typography - Text Alignment */

%text-left {
  text-align: left;
}
%text-right {
  text-align: right;
}
%text-center {
  text-align: center;
}
%text-justify {
  text-align: justify;
}
%text-bottom {
  vertical-align: bottom;
}
%v-align-middle {
  vertical-align: middle;
}
%v-align-top {
  vertical-align: top;
}
%v-align-bottom {
  vertical-align: bottom;
}
// STANDARD TEXT SIZE WITH LINE-HEIGHT

%jumbo.leaded { // font: 48px/42px
  @include text-jumbo;
}
%xlarge.leaded { // font: 36px/42px
  @include text-xlarge;
}
%large.leaded { // font: 24px/28px
  @include text-large;
}
%medium.leaded { // font: 18px/27px
  @include text-medium;
}
%normal.leaded { // font: 14px/21px
  @include text-normal;
}
%legal.leaded { // font: 11px/17px
  @include text-legal;
}

// STANDARD TEXT SIZE

%jumbo { // font: 48px
  font-size:$jumbo;
}
%xlarge { // font: 36px
  font-size:$xlarge;
}
%large { // font: 24px
  font-size:$large;
}
%medium { // font: 18px
  font-size:$medium;
}
%normal { // font: 14px
  font-size:$font-size-base;
}
%legal { // font: 11px
  font-size:$legal;
}

%flip {
  @include transform(scale(-1, 1));
}

/*  ----------------------------------------
  (3d) Typography - Text Styles */

%normal-weight {
  font-weight: normal;
}
%bold {
  font-weight: bold;
}
%italic {
  font-style: italic;
}
%caps {
  text-transform: uppercase;
}
%strike {
  text-decoration: line-through;
}
%underline {
  text-decoration: underline;
}
%truncate {
  /* Only works on single lines */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
%transparent {
  color: $transparent;
}

// FONT VARIANTS
%font-alternative { // GEORGIA
  font-family: $font-family-serif;
}

%font-secondary { // HOMERVETICA-MED
  font-family: 'homervetica-med';
}

/*  ----------------------------------------
  (3e) Typography - Line Height */

%line-height-normal {
  line-height: 1em;
}
%line-height-more {
  line-height: 1.4em;
}
%line-height-large {
  line-height: 2em;
}
%line-limit {
  display: -webkit-box;
  display: box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
%limit-2 {
  -webkit-line-clamp: 2;
}
%limit-4 {
  -webkit-line-clamp: 4;
}

/* SPACING */

/* Standard Padding */

/* Bottom Padding */

%p-bottom-tiny {
  padding-bottom: $space-tiny;
}
%p-bottom-xsmall {
  padding-bottom: $space-xsmall;
}
%p-bottom-small {
  padding-bottom: $space-small;
}
%p-bottom-normal {
  padding-bottom: $space-normal;
}
%p-bottom-large {
  padding-bottom: $space-large;
}
%p-bottom-xlarge {
  padding-bottom: $space-xlarge;
}
%p-bottom-jumbo {
  padding-bottom: $space-jumbo;
}

/* Left Padding */

%p-left-tiny {
  padding-left: $space-tiny;
}
%p-left-xsmall {
  padding-left: $space-xsmall;
}
%p-left-small {
  padding-left: $space-small;
}
%p-left-normal {
  padding-left: $space-normal;
}
%p-left-large {
  padding-left: $space-large;
}
%p-left-xlarge {
  padding-left: $space-xlarge;
}
%p-left-jumbo {
  padding-left: $space-jumbo;
}

/* Right Padding */

%p-right-xsmall {
  padding-right: $space-xsmall;
}
%p-right-small {
  padding-right: $space-small;
}
%p-right-normal {
  padding-right: $space-normal;
}
%p-right-large {
  padding-right: $space-large;
}
%p-right-xlarge {
  padding-right: $space-xlarge;
}
%p-right-jumbo {
  padding-right: $space-jumbo;
}
/* Top Padding */

%p-top-xsmall {
  padding-top: $space-xsmall;
}
%p-top-small {
  padding-top: $space-small;
}
%p-top-normal {
  padding-top: $space-normal;
}
%p-top-large {
  padding-top: $space-large;
}
%p-top-xlarge {
  padding-top: $space-xlarge;
}
%p-top-jumbo {
  padding-top: $space-jumbo;
}
/* Bottom Padding */ 

%p-bottom-tiny {
  padding-bottom: $space-tiny;
}
%p-bottom-small {
  padding-bottom: $space-small;
}
%p-bottom-normal {
  padding-bottom: $space-normal;
}
%p-bottom-large {
  padding-bottom: $space-large;
}
%p-bottom-xlarge {
  padding-bottom: $space-xlarge;
}
%p-bottom-jumbo {
  padding-bottom: $space-jumbo;
}
/* Pad All Sides */

%p-all-tiny {
  padding: $space-xsmall;
}
%p-all-xsmall {
  padding: $space-xsmall;
}
%p-all-small {
  padding: $space-small;
}
%p-all-normal {
  padding: $space-normal;
}
%p-all-large {
  padding: $space-large;
}
%p-all-xlarge {
  padding: $space-xlarge;
}
%p-all-jumbo {
  padding: $space-xlarge;
}
/* Pad Right/Left */

%p-vertical-xsmall {
  padding-top:$space-xsmall;
  padding-bottom:$space-xsmall;
}
%p-vertical-small {
  padding-top: $space-small;
  padding-bottom:$space-small;
}
%p-vertical-normal {
  padding-top: $space-normal;
  padding-bottom: $space-normal;
}
%p-vertical-large {
  padding-top: $space-large;
  padding-bottom: $space-large;
}
%p-vertical-xlarge {
  padding-top: $space-xlarge;
  padding-bottom: $space-xlarge;
}
%p-vertical-jumbo {
  padding-top: $space-jumbo;
  padding-bottom: $space-jumbo;
}

/* Pad Top/Bottom */

%p-horizontal-xsmall {
  padding-right: $space-xsmall;
  padding-left: $space-xsmall;
}
%p-horizontal-small {
  padding-right: $space-small;
  padding-left: $space-small;
}
%p-horizontal-normal {
  padding-right: $space-normal;
  padding-left: $space-normal;
}
%p-horizontal-large {
  padding-right: $space-large;
  padding-left: $space-large;
}
%p-horizontal-xlarge {
  padding-right: $space-xlarge;
  padding-left: $space-xlarge;
}
%p-horizontal-jumbo {
  padding-right: $space-jumbo;
  padding-left: $space-jumbo;
}

/* Standard Margins */

/* Bottom Margin */

%m-bottom-tiny {
  margin-bottom: $space-tiny;
}
%m-bottom-xsmall {
  margin-bottom: $space-xsmall;
}
%m-bottom-small {
  margin-bottom: $space-small;
}
%m-bottom-normal {
  margin-bottom: $space-normal;
}
%m-bottom-large {
  margin-bottom: $space-large;
}
%m-bottom-xlarge {
  margin-bottom: $space-xlarge;
}
%m-bottom-jumbo {
  margin-bottom: $space-jumbo;
}

/* Left Margin */

%m-left-tiny {
  margin-left: $space-tiny;
}
%m-left-xsmall {
  margin-left: $space-xsmall;
}
%m-left-small {
  margin-left: $space-small;
}
%m-left-normal {
  margin-left: $space-normal;
}
%m-left-large {
  margin-left: $space-large;
}
%m-left-xlarge {
  margin-left: $space-xlarge;
}
%m-left-jumbo {
  margin-left: $space-jumbo;
}

/* Right Margin */

%m-right-xsmall {
  margin-right: $space-xsmall;
}
%m-right-small {
  margin-right: $space-small;
}
%m-right-normal {
  margin-right: $space-normal;
}
%m-right-large {
  margin-right: $space-large;
}
%m-right-xlarge {
  margin-right: $space-xlarge;
}
%m-right-jumbo {
  margin-right: $space-jumbo;
}
/* Top Margin */

%m-top-xsmall {
  margin-top: $space-xsmall;
}
%m-top-small {
  margin-top: $space-small;
}
%m-top-normal {
  margin-top: $space-normal;
}
%m-top-large {
  margin-top: $space-large;
}
%m-top-xlarge {
  margin-top: $space-xlarge;
}
%m-top-jumbo {
  margin-top: $space-jumbo;
}
/* Bottom Margin */ 

%m-bottom-tiny {
  margin-bottom: $space-tiny;
}
%m-bottom-small {
  margin-bottom: $space-small;
}
%m-bottom-normal {
  margin-bottom: $space-normal;
}
%m-bottom-large {
  margin-bottom: $space-large;
}
%m-bottom-xlarge {
  margin-bottom: $space-xlarge;
}
%m-bottom-jumbo {
  margin-bottom: $space-jumbo;
}
/* Margin All Sides */

%m-all-tiny {
  margin: $space-xsmall;
}
%m-all-xsmall {
  margin: $space-xsmall;
}
%m-all-small {
  margin: $space-small;
}
%m-all-normal {
  margin: $space-normal;
}
%m-all-large {
  margin: $space-large;
}
%m-all-xlarge {
  margin: $space-xlarge;
}
%m-all-jumbo {
  margin: $space-xlarge;
}
/* Margin Right/Left */

%m-vertical-xsmall {
  margin-top:$space-xsmall;
  margin-bottom:$space-xsmall;
}
%m-vertical-small {
  margin-top: $space-small;
  margin-bottom:$space-small;
}
%m-vertical-normal {
  margin-top: $space-normal;
  margin-bottom: $space-normal;
}
%m-vertical-large {
  margin-top: $space-large;
  margin-bottom: $space-large;
}
%m-vertical-xlarge {
  margin-top: $space-xlarge;
  margin-bottom: $space-xlarge;
}
%m-vertical-jumbo {
  margin-top: $space-jumbo;
  margin-bottom: $space-jumbo;
}

/* Margin Top/Bottom */

%m-horizontal-xsmall {
  margin-right: $space-xsmall;
  margin-left: $space-xsmall;
}
%m-horizontal-small {
  margin-right: $space-small;
  margin-left: $space-small;
}
%m-horizontal-normal {
  margin-right: $space-normal;
  margin-left: $space-normal;
}
%m-horizontal-large {
  margin-right: $space-large;
  margin-left: $space-large;
}
%m-horizontal-xlarge {
  margin-right: $space-xlarge;
  margin-left: $space-xlarge;
}
%m-horizontal-jumbo {
  margin-right: $space-jumbo;
  margin-left: $space-jumbo;
}

/* POSITIONING */

%clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
  }
}
%clear {
  position: relative;
  font-size: 0;
  height: 0;
  clear: both;
  display: block;
}
%float-clear {
  clear: both;
}
%inline {
  display: inline;
}
%block {
  display: block;
}
%inline-block {
  display: inline-block;
}
%cell {
  display: table-cell;
}

/* Floats */
%left {
  float: left;
}
%right {
  float: right;
}

%rotate-90 {
  @include transform(rotate(90deg));
}
%rotate-180 {
  @include transform(rotate(180deg));
}
%flip {
  @include transform(scale(-1, 1));
}

/*  ----------------------------------------
  (3b) Generics - Border Colors */

%border-lightest {
  border: 0 solid $lightest;
}
%border-faded {
  border: 0 solid $faded;
}
%border-light {
  border: 0 solid $light;
}
%border-secondary {
  border: 0 solid $light;
}
%border-dark {
  border: 0 solid $dark;
}
%border-primary {
  border: 0 solid $primary;
}
%border-reverse {
  border: 0 solid $reverse;
}
%border-danger {
  border: 0 solid $danger;
}
%border-success {
  border: 0 solid $success;
}
%border-warning {
  border: 0 solid $warning;
}
%border-alternate {
  border: 0 solid $alternate;
}

/* Standard Border */

%sborder {
  @extend %border-bottom;
  @extend %border-secondary;
}

%border-top {
  border-top-width: 1px;
}
%border-bottom {
  border-bottom-width: 1px;
}
%border-right {
  border-right-width: 1px;
}
%border-left {
  border-left-width: 1px;
}
%border-all {
  border-width: 1px;
}
%border-top-secondary {
  border-top-width: 4px;
}
%border-bottom-secondary {
  border-bottom-width: 4px;
}

/* STATE */

%invisible {
  visibility: hidden;
}
%pointer {
  cursor: pointer;
}

/*  ----------------------------------------
  (3c) Generics - Rounded Corners */

%rounded-corners {
  @include border-radius($standard-border-radius)
}

%rounded-corners-bottom {
  @include border-radius(0 0 $standard-border-radius $standard-border-radius)
}

/* ICONS */

%icon-menu-close {
  content: "\e606";
}
%icon-chevron {
  content: "\e005";
}
%icon-back {
  content: "\e004";
}
%icon-check-outline {
  content: "\e025";
}
%icon-check-solid {
  content: "\e024";
}
%icon-close {
  content: "\e604";
}
%icon-phone {
  content: "\e605";
}
%icon-search {
  content: "\e600";
}
%icon-poi {
  content: "\e601";
}
%icon-menu {
  content: "\e602";
}
%icon-cart {
  content: "\e603";
}
%icon-pro {
  content: "\e60f";
}
%icon-diy {
  content: "\e610";
}
%icon-hd-logo {
  content: "\e60e";
}
%icon-square {
  content: "\e800";
}
%icon-thumb-down {
  content: "\e60c";
}
%icon-thumb-up {
  content: "\e60d";
}
%icon-verified {
  content: "\e607";
}
%icon-seeds {
  content: "\e608";
}
%icon-number-one {
  content: "\e609";
}
%icon-expert {
  content: "\e60a";
}
%icon-associate {
  content: "\e60b";
}
%icon-1k {
  content: "\e611";
}
%icon-500 {
  content: "\e612";
}
%icon-250 {
  content: "\e613";
}
%icon-100 {
  content: "\e614";
}
%icon-50 {
  content: "\e615";
}
%icon-25{
  content: "\e616";
}
%icon-10{
  content: "\e617";
}
%icon-calendar {
  content: "\e619";
}
%icon-caution {
  content: "\e618";
}
%icon-minus {
  content: "\e010";
}
%icon-plus {
  content: "\e011";
}
%icon-star {
  content: "\e013";
}
%icon-play {
  content: "\e017";
}
%icon-more-options {
  content: "\e02a";
}
%icon-link-out {
  content: "\e61a";
}
%icon-error {
  content: "\e61d";
}
%icon-zoom {
  content: "\e61b";
}
%icon-attention {
  content: "\e61c";
}
%icon-cancel {
  content: "\e61e";
}
%icon-checkmark {
  content: "\e61f";
}
%icon-camera {
  content: "\e620";
}
%icon-reset {
  font-family: "mw-icons";
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}