.promotion__codes__list {
	list-style: none;
}

.promotion__codes__btn {
	right: 0;
	position: absolute;
	top: -10px;
}

.promotion__codes__list__item {
	margin: 20px 0 !important;
	text-align: right;
}

.promotion__codes__list__item__remove {
	margin-top: 9px;
}
