.tooltip {
    content: "";
    position: relative;
    display: inline-block;
}

.tooltipbody {
    width: 379px;
    padding-left: 100px;
    position: relative;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltippoint {
    float: left;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -1;
    width: 50px;
    display: block;
    background-color: rgba(40, 111, 173, 1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tooltipcontent-warning {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin-top: -10px;
    margin-left: -100px;
    float: left;
    position: relative;
    background: inherit;
    background-color: #FFC20E;
    border: none;
    text-align: left;
    overflow: hidden;
    width: 100%;
}

.tooltippoint-warning {
    float: left;
    position: absolute;
    left: 10px;
    top: -15px;
    z-index: -5;
    width: 6px;
    display: block;
    background-color: #FFC20E;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tooltipclose-warning {
    position: absolute;
    float: right;
    cursor: pointer;
    right: 3px;
    top: 0px;
}

.tooltipcontent {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-top: -20px;
    margin-left: -90px;
    float: left;
    position: relative;
    background: inherit;
    background-color: rgba(40, 111, 173, 1);
    border: none;
    text-align: left;
    overflow: hidden;
}

.tooltipmessage {
    float: left;
    width: 90%;
    margin: 10px;
}

.tooltipclose {
    float: left;
    cursor: pointer;
    left: 742px;
    top: 11px;
}

#pointer {
    border: solid 10px transparent;
    border-right-color: #fff;
    position: absolute;
    margin: -85px 0 0 -20px;
}

.tooltipicon {
  font-weight: bold;
  color: #3F8ED3;
  //border-color: #A7CBEB;
  
}
