

<div class="md-text-field" >
    <label for="label">Label Printing & Text</label>
    <div></div>
    <div class="md-checkbox">
        <input type="checkbox" id="labelId" ng-disabled="$ctrl.data.promoSubTypeCd=='OrderLevelPercentDiscount' || $ctrl.isPromotionActive() || $ctrl.preview" name="labelCheckbox" ng-model="$ctrl.data.printLabel" title="label" ng-click="$ctrl.data.labelText = null; $ctrl.validatePromotion()" ng-disabled="$ctrl.preview"/>
        <label for="label"><span><span></span></span>Print Labels</label>
    </div>
    <div class="md-textarea">		
        <label for="labelText">Label Text (optional)</label>		
        <input type="text" id="labelText" name="labelText" title="labelText" ng-model="$ctrl.data.labelText" ng-disabled="$ctrl.data.promoSubTypeCd=='OrderLevelPercentDiscount' || !$ctrl.data.printLabel || $ctrl.preview" rows="1" allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" maxlength="11" placeholder="Please enter 11 characters or fewer" ng-disabled="$ctrl.preview"></input>		
        <span class="labelCount">{{$ctrl.data.labelText.length || 0}}/11</span>
    </div>
</div>
