<div class="md-text-field">
    <h4 class="pbl padding-bottom-10">Label Printing & Text</h4>
    <div class="md-checkbox">
        <md-checkbox role="checkbox" id="labelId" name="labelCheckbox" ng-model="$ctrl.data.printLabel"
                     ng-disabled="$ctrl.isPrintLabelDisabled() || $ctrl.preview || $ctrl.data.singleSkuBulk == 1"
                     ng-click="$ctrl.data.labelText = null; $ctrl.validatePromotion();"
                     aria-checked="false">Print Labels
        </md-checkbox>
    </div>
    <div class="md-textarea">
        <label for="labelText"><strong>Label Text</strong></label>
        <div>
            <input type="text" id="labelText" name="labelText" title="labelText" ng-model="$ctrl.data.labelText"
                   ng-disabled="$ctrl.isPrintLabelDisabled() || $ctrl.data.singleSkuBulk == 1 || !$ctrl.data.printLabel || $ctrl.preview" rows="1"
                   allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" maxlength="11"/>
        </div>
        <p class="textarea_counter">
            <span>Please enter 11 characters or fewer</span>
            <span class="pull-right">{{$ctrl.data.labelText.length || 0}} of 11 Characters</span>
        </p>
    </div>
</div>
<div></div>
<div class="md-text-field" ng-if="$ctrl.showReceiptText && $ctrl.data.checkRapidPass">
    <div class="md-textarea">
        <h4 class="padding-bottom-10">Receipt Text</h4>
        <div>
            <label for="receiptHeaderId"><strong>Receipt Header</strong></label>
        </div>
        <div>
            <input type="text" id="receiptHeaderId" name="receiptHeader" title="receiptHeader"
                   ng-model="$ctrl.data.receiptHeader" ng-disabled="$ctrl.preview" rows="1"
                   allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" maxlength="30"/>
        </div>
        <p class="textarea_counter">
            <span>Please enter 30 characters or fewer</span>
            <span class="pull-right">{{$ctrl.data.receiptHeader.length || 0}} of 30 Characters</span>
        </p>
    </div>
    <div class="md-textarea">
        <label for="receiptDescId"><strong>Receipt Description</strong></label>
        <div>
            <input type="text" id="receiptDescId" name="receiptDesc" title="receiptDesc"
                   ng-model="$ctrl.data.receiptDesc" ng-disabled="$ctrl.preview" rows="1"
                   allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" maxlength="30"/>
        </div>

        <p class="textarea_counter">
            <span>Please enter 30 characters or fewer</span>
            <span class="pull-right">{{$ctrl.data.receiptDesc.length || 0}} of 30 Characters</span>
        </p>
    </div>
</div>
