<!-- Markets code START -->

<div class="md-text-field" ng-init="data.locations='markets'">
	<label for="location">Location Types</label>
	<div class="md-radio">
		<input type="radio" id="markets" name="locations1" ng-model="data.locations" title="markets" value="markets" />
		<label for="markets"><span><span></span></span>Markets</label>
	</div>

	<div class="md-radio">
		<input type="radio" id="stores" name="locations2" ng-model="data.locations" title="stores" value="stores" />
		<label for="stores"><span><span></span></span>Stores</label>
	</div>
</div>



<!-- Markets code END -->

<table class="table category__table">

	<tr class="category__table__row-nobottomborder">
		<td colspan="4">
			<div class="md-toolbar-search l">

				<div ng-if="data.locations=='stores'">
					<label for="StoreLocation"><h3>Store Location</h3></label>
					<input class="table__search" placeholder="Search and Add Store Number" type="text" ng-model="locationSearch" ng-keypress="($event.keyCode === 13) && search(locationSearch,data.locations)"
						ng-class="{'error': inValidStoreInfo}" ng-change="clear()" allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" />
					<a class="md-button secondary no-padding" href="" ng-click="search(locationSearch,data.locations)">
						Search
					</a>
					<span class='error-message' ng-show="showInvalidError">Please enter a valid Store Number</span>
				</div>

				<div ng-if="data.locations=='markets'">
					<label for="MarketLocation"><h3>Market Location</h3></label>
					<input class="table__search" placeholder="Search and Add Market Number" type="text" ng-model="locationSearch" ng-keypress="($event.keyCode === 13) && search(locationSearch,data.locations)"
					ng-class="{'error': inValidMarketInfo}" ng-change="clear()" allow-pattern="(\d|[a-z A-Z\(\?\-\_\.\'\,\%\$\!\@\)])" />
					<a class="md-button secondary no-padding" href="" ng-click="search(locationSearch,data.locations)">
						Search
					</a>
					<span class='error-message' ng-show="showInvalidError">Please enter a valid Market Number</span>
				</div>
			</div>
		</td>
	</tr>
	<tr class="category__table__row-notopborder" ng-if="data.locations=='stores'">

		<th>
			Store Number
		</th>
		<th>
			Store Name
		</th>
		<th>
			Market Number
		</th>
		<th class="r">
			<a class="editOption thd-orange" ng-if="validStoreInfo && validStoreInfo.length >0" ng-click="removeAll()" href="">
				Remove All
			</a>
		</th>
	</tr>
	<tr ng-repeat="item in validStoreInfo track by $index" ng-class="{odd:($index % 2)}" ng-if="data.locations=='stores'">

		<td>
			{{item.storeNumber}}
		</td>
		<td>
			{{item.storeName}}
		</td>
		<td>
			{{item.marketNumber}}
		</td>
		<td class="r">
			<a class="editOption thd-orange" ng-click="isDisabled || removeStore($index)" href="">
				Remove
			</a>
		</td>
	</tr>
	<tr class="category__table__row-notopborder" ng-if="data.locations=='markets'">

		<th>
			Store Number
		</th>
		<th>
			Store Name
		</th>
		<th>
			Market Number
		</th>
		<th class="r">
			<a class="editOption thd-orange" ng-if="validStoreInfo && validStoreInfo.length >0" ng-click="removeAll()" href="">
				Remove All
			</a>
		</th>
	</tr>
	<tr ng-repeat="item in validStoreInfo track by $index" ng-class="{odd:($index % 2)}" ng-if="data.locations=='markets'">

		<td>
			{{item.storeNumber}}
		</td>
		<td>
			{{item.storeName}}
		</td>
		<td>
			{{item.marketNumber}}
		</td>

		<td class="r">
			<a class="editOption thd-orange" ng-click="isDisabled || removeStore($index)" href="">
				Remove
			</a>
		</td>
	</tr>
</table>