<!-- Markets code START -->
			<div class="md-text-field">
			<label for="location">Location Types</label>
				<div class="md-radio">
					<input type="radio" id="markets" name="locations1" ng-model="locationType" title="markets" value="markets" ng-change="removeAll();clearInput();"/>
					<label for="markets"><span><span></span></span>Markets</label>
				</div>

				<div class="md-radio">
					<input type="radio" id="stores" name="locations2" ng-model="locationType" title="stores" value="stores" ng-change="removeAll(); clearInput();"/>
					<label for="stores"><span><span></span></span>Stores</label>
				</div>
			</div> 
			<!-- Markets code END -->

<!-- <table class="table category__table" ng-hide="locationType == 'markets' "> -->
<table class="table category__table">

	<tr class="category__table__row-nobottomborder">
		<td colspan="4">

			
			<div class="md-toolbar-search l">

				<label for="StoreLocation" ng-if="locationType=='stores'" ><h3>Store Location</h3></label>
				<label for="MarketLocation" ng-if="locationType=='markets'"><h3>Market Location</h3></label>
				<input class="table__search" ng-show="locationType=='stores'" ng-keypress="($event.keyCode === 13) && search(locationSearch)" placeholder="Search and Add Store Number" type="text" ng-model="locationSearch" ng-class="{'error': inValidStoreInfo}"
					ng-change="clear()" allow-pattern="[\d\s\(\,\)]" />
				<a class="md-button secondary no-padding" href="" ng-show="locationType=='stores'" ng-click="search(locationSearch)">

					Search
				</a>
				<ul>
					<span class='error-message' ng-show="showInvalidError" ng-if="locationType=='stores'">
				    <span>
				   			Please enter a valid Store Number
				    </span>
					</span>
				</ul>

				<input class="table__search" ng-show="locationType=='markets'" ng-keypress="($event.keyCode === 13) && search(locationSearch)" placeholder="Search and Add Market Number" type="text" ng-model="locationSearch" ng-class="{'error': inValidMarketInfo}"
					ng-change="clear()" allow-pattern="[\d\s\(\,\)]" />
				<a class="md-button secondary no-padding" ng-show="locationType=='markets'" href="" ng-click="search(locationSearch)">

					Search
				</a>
				<ul>
					<span class='error-message' ng-show="showInvalidError" ng-if="locationType=='markets'">
				    <span>
				   			Please enter a valid Market Number
				    </span>
					</span>
				</ul>
			</div>
		</td>
	</tr>

	<tr class="category__table__row-notopborder" ng-if="locationType=='stores'">
		<th>
			Store Number
		</th>
		<th>
			Store Name
		</th>
		<th>
			Market Number
		</th>
		<th class="r">
			<a class="editOption thd-orange" ng-if="validStoreInfo && validStoreInfo.length >0" ng-click="removeAll()" href="">
				Remove All
			</a>
		</th>
	</tr>
	<tr ng-repeat="item in validStoreInfo track by $index" ng-class="{odd:($index % 2)}" ng-if="locationType=='stores'">

		<td>
			{{item.storeNumber}}
		</td>
		<td>
			{{item.storeName}}
		</td>
		<td>
		    {{item.marketNumber}}
		</td>
		<td class="r">
			<a class="editOption thd-orange" ng-click="isDisabled || removeItem($index)" href="">
				Remove
			</a>
		</td>
	</tr>
	<tr class="category__table__row-notopborder" ng-if="locationType=='markets'">

		<th>
			Market Number
		</th>
		<th>
			MarketName
		</th>
		<th>
			
		</th>
		<th class="r">
			<a class="editOption thd-orange" ng-if="validMarketInfo && validMarketInfo.length >0" ng-click="removeAll()" href="">
				Remove All
			</a>
		</th>
	</tr>
	<tr ng-repeat="market in validMarketInfo track by $index" ng-class="{odd:($index % 2)}" ng-if="locationType=='markets'">

		<td>
			{{market.marketNumber}}
		</td>
		<td>
			{{market.marketName}}
		</td>
		<td>
		    <!--{{item.marketNumber}}-->
		</td>

		<td class="r">
			<a class="editOption thd-orange" ng-click="isDisabled || removeItem($index)" href="">
				Remove
			</a>
		</td>
	</tr>
</table>
