<overlay overlay-name="previewPanel" overlay-config="previewOverlayConfig">
		<header>
			<h1 class="Popup__Header__Title">Preview Discount :{{previewData.data.name}}</h1>
			<div ng-if="headerErrorMsg" class="preivewError headerError">
				<div class="fa fa-exclamation-circle">{{headerErrorMsg}}</div>	
			</div>
		</header>
		<content>
			<div ng-if="errorMessages" class="preivewError">
				<div ng-repeat="error in errorMessages">{{error.message}}</div>	
			</div>
			<div class="previewFormData"> 
			 	<admin-promotion-form  form-holder="formHolder" validation-errors="validationErrors" promo-mfa="promoMfa" data="previewData.data" preview="{{true}}" index="sectionInx" view-prop="viewProp"></admin-promotion-form>
			 </div>	
			 <div class="previewStatus" ng-show="submitStatus">
			 	<md-progress-circular md-mode="indeterminate" /><span>{{submitStatus}}<span>
			 </div>	
		</content>
		
		<footer>
			<div class="clearfix">
				<a class="md-button  secondary align-right pull-left" ng-click="close()">Cancel</a>
				<a class="md-button primary pull-right" ng-disabled="submitStatus" href="" ng-click="saveAndSubmit($event)"> Submit</a>
			</div>	
		</footer>
</overlay>





