<div class="header">
        <div class="header-logo">
            <a href="#"><i class="icon_homedepot"></i></a>
        </div>
        <div class ="header-info">
                <a href="#"><label class="product-info"><h3>Discount Engine</h3></label></a>
        </div>
        <div class="md-toolbar" flex="100">
                <div class="md-toolbar-actions"> 
                    <span class="user" ng-show="userRoleSelected.id"> Currently logged in as: </span>
                        <div class="md-select md-select-alt" ng-show="userRoleSelected.id">
                            <select name="userRole" style="width:157px"ng-model="userRoleSelected.id" ng-change="getUserPerm()">
                            <option ng-repeat="user in userPermissions" value="{{user.id}}">{{user.shortDesc}}</option>
                            </select>  
                        </div>  
                    <a class="profile" href="" title="{{username}}"></a>
                    <a class="logout" href=""   ng-click='logout()' title="Logout"><span>Log Out</span></a>
                </div>
            </div>
    </div>