/* .md-checkbox {
    margin:5px 0px;
  }
  .md-checkbox:first-of-type {
    margin-top:0;
  }
  .md-checkbox:last-of-type {
    margin-bottom:0;
  }
  .md-checkbox input[type=checkbox]:not(old){
    width:2em;
    margin:0;
    padding:0;
    font-size:1em;
    opacity:0;
  }
  .md-checkbox input[type=checkbox]:not(old) + label{
    display:inline-block;
    margin-left:-2em;
    line-height:1.5em;
    font-size: 16px;
    color:#555555;
    cursor: pointer;
  }
  .md-checkbox input[type=checkbox]:not(old) + label > span{
    display:inline-block;
    width:15px;
    height:15px;
    margin:4px 8px 4px 4px;
    border:1px solid #CCCCCC;
    border-radius:2px;
    background:#F9F9F9;
    vertical-align:bottom;
  }
  .md-checkbox input[type=checkbox]:not(old):disabled + label > span {
    border-color:#DDDDDD;
    background:#DDDDDD;
    cursor: not-allowed;
  }
  .md-checkbox input[type=checkbox]:not(old):disabled + label {
    color:#999999;
    cursor: not-allowed;
  }
  .md-checkbox input[type=checkbox]:not(old):disabled:checked + label > span:before {
    color:#999999;
  }
  .md-checkbox input[type=checkbox]:not(old):disabled:checked + label > span {
    background-color:#DDDDDD;
    border:1px solid #DDDDDD;
  }
  .md-checkbox input[type=checkbox]:not(old):disabled:checked + label {
    color:#999999;
  }
  .md-checkbox.missed input[type=checkbox]:not(old) + label {
    color:#ED1C24;
  }
  .md-checkbox.missed input[type=checkbox]:not(old) + label > span {
    background:#FEF4F4;
    border:1px solid #ED1C24;
  }
  .md-checkbox input[type=checkbox]:not(old):checked + label > span{
    background:#00AF4D;
    border:1px solid #00AF4D;
  }
  .md-checkbox input[type=checkbox]:not(old):checked + label{
    color:#222222;
  }
  .md-checkbox input[type=checkbox]:not(old):checked + label > span:before{
    font-family:'FontAwesome';
    content: "\f00c";
    display: block;
    width:14px;
    color:#FFFFFF;
    font-size:14px;
    line-height:15px;
    text-align:center;
  } */

md-checkbox {
  &.md-checked .md-icon {
    background-color: green;
  }
  .md-container {
    top: 48%;
    left: -3px;
  }
  &[role=checkbox][aria-checked=true]::after {
    opacity: 0;
  }
  .md-label {
    margin-left: 10px;
    color: #000000;
    font-weight: 400;
  }
}
