.collapse {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	margin-bottom: 2em;
	background: #F8F7EE;
	border: solid 1px #eee;
}

.collapse__content {
	list-style: none;
	cursor: pointer;
	border-bottom: solid #ddd 1px;
}

.collapse__item {
	max-height: 0px;
	overflow: hidden;
	transition: all 1s;
	padding: 0 2em;
}

.collapse__item__header {
	margin: 1em 0 0;
}

.collapse__header {
	padding: 1em;
	display: block;
	background: #fff;
	border-bottom: solid #ddd 1px;
	&:hover {
		background: #eee;
	}
	&.active + .collapse__item {
		max-height: 1000px;
	}
}

.collapse__header__control {
	display: none;
}
